.arrow-white-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
    position: absolute;
    left: calc( 50% - 15px);
}
.text-blue {
    color: #044a69;
}
.text-white {
    color: #ffffff;
}
.medium-message {
    font-size: 22px;
    font-weight: 300;
}
.bold {
    font-weight: 600;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.mt10 {
    margin-top:10px;
}
h3.sub-heading {
    text-transform: none;
}

.bg-yellow {
    background-color: #ffc000;
}
.bg-orange {
    background-color: #fc7f0c;
}
.bg-red {
    background-color: #e84b3a;
}
.bg-gray {
    background-color: #474747;
}
.scroll-top a {
    bottom: 120px;
}

.button.border.border-white {
    border-color: #fff;
    color: #fff;
}
.button.border.border-white:hover {
    background-color: #fff;
    color: #044a69;
    
}

.info-box {
    background: #fff;
    border: none;
    color: #404e2e;
    border-left: 10px solid #dedede;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    padding-bottom: 1px;
}
.info-box.green-info {
    border-left-color: #a0c272;
    color: #404e2e;
}
.info-box.yellow-info {
    border-left-color: #e0d594;
    color: #62523a;
}
.info-box.red-info {
    border-left-color: #f2b1b4;
    color: #5f393a;
}
.info-box.blue-info {
    border-left-color: #9fc6d7;
    color: #4c6671;
}
/* --- Home - Slider ---*/
#slider {
    box-shadow: 0 3px 4px -3px #999;
}
body.front .region-slider > div:last-child {
    display:none;
}
/* -------------------*/
/* --- Home - The Company ---*/
#about-us {
    padding-top: 30px;
}

.feature-box-icon {
    border-radius: 0px;
}

.feature-box:hover .feature-box-icon {
    border-radius: 50%;
}

/* -------------------*/

/* --- Home - Promotional ---*/
.content.light-section.section-bg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.promotionalBlock .jcarousel-wrapper {
    position: relative;
}
.promotionalBlock .jcarousel > .item-list {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.promotionalBlock .jcarousel > .item-list ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.promotionalBlock .jcarousel > .item-list li {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.promotionalBlock .jcarousel > .item-list li img {
    display: block;
    max-width: 100%;
    height: auto !important;
    -webkit-transition: all 0.4s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.4s ease;/* Firefox 4-15 */
	-o-transition: all 0.4s ease;/* Opera 10.5-12.00 */
	transition: all 0.4s ease;/* Firefox 16+, Opera 12.50+ */
}
.promotionalBlock .jcarousel > .item-list li img:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.promotionalSlider > .jcarousel-pagination,
.promotionalBlock .jcarousel .jcarousel-pagination {
    margin-top:20px;
    text-align: center;
}
.promotionalSlider > .jcarousel-pagination a,
.promotionalBlock .jcarousel .jcarousel-pagination a {
    display:inline-block;
    color:transparent;
    overflow: hidden;
    width:15px;
    height:15px;
    background-color: #ccc;
    margin-right: 10px;
    border:1px solid #e5e5e5;
    box-shadow:0px 0px 1px 1px #e5e5e5;
    border-radius: 50%;
}
.promotionalBlock .jcarousel.onlyImage .jcarousel-pagination {
    display:none;
}
.promotionalSlider > .jcarousel-pagination a.active,
.promotionalBlock .jcarousel .jcarousel-pagination a.active {
    background-color:#044a69;
    border:1px solid transparent;
}
.promotionalSlider > .jcarousel-pagination a:last-child
.promotionalBlock .jcarousel .jcarousel-pagination a:last-child {
    margin-right: 0px;
}
.promotionalBlock .section-title h3 {
    font-size:16px;
}
.promotionalBlock .bodyBlock {
    font-size:15px;
}

@media (max-width:540px) {
    .promotionalBlock .jcarousel > .item-list ul {
        display: inline;
        height: 320px;
    }
}
/* -------------------*/

/* --- Home - Testimonials Block ---*/
.testimonialsBlock .testimony-inner{
    margin-left: 86px;
}
/* ---------------------------------*/
/* --- Home - meet team Block ---*/
.blogPage .testimony-inner,
.meetTeamBlock .testimony-inner{
    margin-left: 86px;
    background-position: top right;
}
.meetTeamBlock .testimony-inner .infoBlock {
    overflow: hidden;
    position: relative;
}
.meetTeamBlock .testimony-inner .infoBlock .clientBlock {
    opacity: 1;
    -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.5s ease;/* Firefox 4-15 */
	-o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
	transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
}
.meetTeamBlock .testimony-inner .infoBlock .biographyBlock {
    overflow: auto;
    height: 100%;
    position: absolute;
    top: 100%;
    z-index: 2;
    background: #fff;
    left:0px;
    width: 100%;
    -webkit-transition: all 1s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 1s ease;/* Firefox 4-15 */
	-o-transition: all 1s ease;/* Opera 10.5-12.00 */
	transition: all 1s ease;/* Firefox 16+, Opera 12.50+ */
}
.meetTeamBlock .testimony-inner .infoBlock .biographyBlock a {
    margin-bottom: 0px;
}
.meetTeamBlock .testimony-inner .infoBlock.show .clientBlock {
    opacity: 0;
}
.meetTeamBlock .testimony-inner .infoBlock.show .biographyBlock {
    top:0px;
}
.meetTeamBlock .testimony-inner .user-picture img {
    display:block;
}
.meetTeamBlock .portrait {
    overflow: hidden;
    display:inline-block;
}
.blogPage .testimony-text,
.meetTeamBlock .testimony-text {
    float:none;
    border-bottom: none;
    overflow: hidden;
    height:80px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.blogPage .testimony-author,
.meetTeamBlock .testimony-author {
    border-bottom: 1px solid #044a69;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
/* ---------------------------------*/
/* --- Menu - User Block ---*/
#messages .btnHide {
    display:none;
}
#messages {
    position: absolute;
    top: 108px;
    z-index: 2;
    width: 90%;
    max-width: 1008px;
    -webkit-transition: all 0.7s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.7s ease;/* Firefox 4-15 */
	-o-transition: all 0.7s ease;/* Opera 10.5-12.00 */
	transition: all 0.7s ease;/* Firefox 16+, Opera 12.50+ */
    opacity: 1;
}
#messages.hide {
    opacity: 0;
    pointer-events: none;
}
#messages .error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 4px;
}
#messages .btnHide {
    cursor:pointer;
    position: absolute;
    display:inline-block;
    right: 30px;
    top: 15px;
    opacity: 0.7;
}
#messages .btnHide:hover {
    opacity: 1;
}
/* --------------------------*/
/*--- Home - Services ---*/
.color-box-holder.section-bg-1 {
    background-color: transparent;
    border-top:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.color-box-holder.section-bg-1 .block,
.color-box-holder.section-bg-1 .col-row {
    margin-bottom:0px;
}
.color-box-holder.section-bg-1 .block,
.color-box-holder.section-bg-1 .col-row {
    margin-bottom:0px;
}
.color-box-holder.section-bg-1 .col-row > div:nth-child(1) .do-front-part {
    background-color: #ffc000;
}
.color-box-holder.section-bg-1 .col-row > div:nth-child(2) .do-front-part {
    background-color: #fc7f0c;
}
.color-box-holder.section-bg-1 .col-row > div:nth-child(3) .do-front-part {
    background-color: #e84b3a;
}
.color-box-holder.section-bg-1 .col-row > div:nth-child(4) .do-front-part {
    background-color: #474747;
}
.do-service-container {
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
    overflow: visible;
    height: 220px;
}
.do-service-container .do-front-part,
.do-service-container .do-back-part {
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: middle;
    text-align: center;
    display: block;
    height: 220px;
    width: 100%;
    padding: 0px;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    box-sizing: border-box;
}
.do-service-container .do-front-part {
    z-index: 2;
}

.do-service-container .do-back-part {
    background-color: #474747;
    z-index: 1;
    opacity: 0;
    -webkit-transform: translateY(110px) rotateX(-90deg);
    -moz-transform: translateY(110px) rotateX(-90deg);
    -ms-transform: translateY(110px) rotateX(-90deg);
    -o-transform: translateY(110px) rotateX(-90deg);
    transform: translateY(110px) rotateX(-90deg);
}

.do-service-container .do-front-part .do-front-content,
.do-service-container .do-back-part .do-back-content {
    display: block;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding:0px;
}
.do-service-container .do-back-part .do-back-content p.service-title {
    font-weight: 700;
    border-bottom: 1px solid #909090;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #909090;
}
.do-service-container:hover .do-front-part,
.do-service-container:focus .do-front-part,
.do-service-container:active .do-front-part {
    opacity: 0;
    -webkit-transform: translateY(-110px) rotateX(90deg);
    -moz-transform: translateY(-110px) rotateX(90deg);
    -ms-transform: translateY(-110px) rotateX(90deg);
    -o-transform: translateY(-110px) rotateX(90deg);
    transform: translateY(-110px) rotateX(90deg);
}

.do-service-container:hover .do-back-part,
.do-service-container:focus .do-back-part,
.do-service-container:active .do-back-part {
    opacity: 1;
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
    transform: rotateX(0);
}
.do-service-container .do-back-content.color-box:hover {
    background-color:#474747;
}
.do-service-container .do-front-content.color-box {
    background-color:transparent;
}

.services-section {
	background: url(../img/section-bg/006.jpg) no-repeat center;
        padding-top: 50px;
        padding-bottom: 50px;
        border-top-color: #fff;
}

@media (max-width: 767px) {
    .do-back-content {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    
    .do-service-container {
        margin-bottom: 10px;
    }
}

/*-----------------------*/
/* --- Menu - User Block ----*/
.userInfoBlock {
    float:right;
    position:relative;
}
.userInfoBlock .userOpen {
    display: block;
    width: 38px;
    height: 38px;
    color: #ccc;
    text-align: center;
    line-height: 36px;
    font-size: 19px;
    margin-top: 32px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-left:15px;
    -webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
}
.userInfoBlock .userOpen i {
    pointer-events: none;
}
.userInfoBlock .userOpen:hover {
	color: #fff;
	background: #044a69;
	border-color: #044a69;
}
.userInfoBlock .userForm {
    display:none;
    position:absolute;
    right:0;
    top:104px;
    background: #fff;
    max-width: 278px;
    border: 1px solid #eee;
    border-top: none;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0 3px 4px -3px #999;
    box-shadow: 0 3px 4px -3px #999;
}
.userInfoBlock .userForm input {
    box-sizing: border-box;
}
.userInfoBlock .userForm .block-faqs {
    margin-bottom: 0px;
}
.userInfoBlock .userForm .logoutBlock {
    margin-top:20px;
    padding-left:20px;
    padding-right:20px;
    white-space: nowrap;
}
/* --------------------------*/

/* ---- Blog ----*/

body.page-blog .blog-post .post-content {
    float: none;
    width: 100%;
    display: table-cell;
    padding-left: 20px;
    text-align: justify;
}
body.page-blog .blog-post .article-author {
    display: block;
    float: right;
    margin-bottom: 20px;
}
body.page-blog .blog-post .article-author img {
    border-radius: 50%;
    float: left;
}
body.page-blog .blog-post .article-author h4 {
    text-transform: capitalize;
    float: left;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    padding-top: 4px;
}
body.page-blog .blog-post .article-author h4 span {
    font-weight: 100;
    text-transform: none;
    font-size: 12px;
}

/* --------------------------*/

/* ---- Article ----*/
body.node-type-article .article-cover div.page-title-inner h1 {
    margin-top: 150px;
    color: #ffffff;
    text-transform: none;
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

body.node-type-article .article-cover div.page-title-inner h4.article-subtitle {
    color: #fff;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

body.node-type-article .article-author {
    margin-top: 100px;
    width: 250px;
    margin-bottom: 100px;
}
body.node-type-article .article-author img {
    max-width: 60px;
    border-radius: 50px;
    margin-right: 20px;
    float: left;
    display: block;
}
body.node-type-article .article-author h4 {
    color: #fff;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 0px;
    padding-top: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
body.node-type-article .article-author span {
    color: #fff;
    text-align: left;
    float: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

body.node-type-article .post-content {
    font-size: 16px;
    text-align: justify;
}
body.node-type-article .post-content small {
    font-size: 12px;
}
body.node-type-article .post-content h3 {
    font-size: 23px;
    text-transform: none;
    margin-top: 20px;
    margin-bottom: 18px;
}
body.node-type-article .post-content strong {
    font-weight: 600;
}

/* ----------------*/

/* ---- Footer ----*/
#footer {
    border-top: 2px #4dabff solid;
}
#footer .footer_1 ul {
    text-align: center;
}
#footer .footer_1 ul li {
    display: inline-block;
    
    background-color: #1b1b1b;
    margin-left: 10px;
    margin-right: 10px;
}
#footer .footer_1 ul li a {
    font-size:26px;
    display: inline-block;
    vertical-align: middle;
    line-height: 40px;
    color:#46494a;
    width: 40px;
    height: 40px;
}
#footer .footer_1 ul li:hover {
    background-color: #0979be;
}
#footer .footer_1 ul li:hover a {
    color:#fff;
}
#footer #block-menu-menu-footer-menu {
    margin-bottom: 0px;
}
#footer #block-menu-menu-footer-menu h2 {
    display:none;
}
#footer #block-menu-menu-footer-menu ul.menu {
    list-style: none;
    margin-bottom: 10px;
    font-size:0px;
}
#footer #block-menu-menu-footer-menu ul.menu li {
    background: none;
    list-style: none;
    width: 50%;
    display: inline-block;
    font-size:14px;
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    text-align: center;
}
#footer #block-menu-menu-footer-menu ul.menu li a {
    padding: 3px 0;
    color: #7e7e7e;
}
#footer #block-menu-menu-footer-menu ul.menu li a:hover {
    color:#fff;
}
#footer .footer-mail {
    color: #7e7e7e;
    font-size:14px;
    text-align: center;
    margin-top: 10px;
    border-top: 1px #737373 solid;
    padding-top: 10px;
}
#footer .footer-mail a {
    color: #7e7e7e;
}
#footer .footer-mail a:hover {
    color:#fff;
}

#footer .region-f2 {
    padding-top: 24px;
}
@media (min-width:1024px) {
    
    #footer .footer_3 {
        margin-top: 24px;
    }
}

@media (max-width: 767px){
    #footer .footer_3 {
        text-align: center;
    }
}

#footer .footer_3 {
    padding-left: 15px;
    border-left: 1px #484848 solid;
    font-size:13px;
    color:#a0a0a0;
}
#footer .footer_3 p {
    margin-bottom: 10px;
    padding-bottom: 0px;
}
#footer .footer_3 .title {
    color: #a0a0a0;
    font-size: 22px;
    
}
#footer .footer_3 .title span.white-bold {
    font-weight: 600;
    color: #fff;
}
#footer .region-f4 h2 {
    display:none;
}
#footer .region-f4 .webform-component {
    margin-top:0px;
}
#footer .region-f4 .webform-component input {
    width: 100%;
    background-color: #1c1c1c;
    border-radius: 4px;
    margin-bottom: 0px;
    color: #7e7e7e;
    line-height: 1 \9;
    font-size: 12px;
    padding: 5px 15px;
    border: none;
    height: auto;
    box-sizing: border-box;
}
#footer .region-f4 .webform-component textarea {
    height: 90px;
    display: block;
    margin: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    width: 100%;
    padding: 12.9px;
    color: #1c1c1c;
    background: #f2f2f2;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
}
#footer .region-f4 .webform-submit {
    width: 100%;
}
#footer .region-f4 .webform-component input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight:bold;
    text-transform: uppercase;
}
#footer .region-f4 .webform-component input::-moz-placeholder { /* Firefox 19+ */
    font-weight:bold;
    text-transform: uppercase;
}
#footer .region-f4 .webform-component input:-ms-input-placeholder { /* IE 10+ */
    font-weight:bold;
    text-transform: uppercase;
}
#footer .region-f4 .webform-component input:-moz-placeholder { /* Firefox 18- */
    font-weight:bold;
    text-transform: uppercase;
}
#footer .region-f4 .webform-component textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight:bold;
    text-transform: uppercase;
    color: #555;
}
#footer .region-f4 .webform-component textarea::-moz-placeholder { /* Firefox 19+ */
    font-weight:bold;
    text-transform: uppercase;
    color: #555;
}
#footer .region-f4 .webform-component textarea:-ms-input-placeholder { /* IE 10+ */
    font-weight:bold;
    text-transform: uppercase;
    color: #555;
}
#footer .region-f4 .webform-component textarea:-moz-placeholder { /* Firefox 18- */
    font-weight:bold;
    text-transform: uppercase;
    color: #555;
}
/* ----------------*/

/* ---- Livechat ----*/
.page-title-icon.livechat-icon {
    background: transparent;
}
/* ----------------*/

/* ---- Tokko Broker ----*/

section.tokko-portals {
    padding-top: 50px;
    padding-bottom: 50px;
}
section.tokko-portals .section-title {
    margin-bottom: 30px;
}
section.tokko-portals .section-title h2 {
    color: white;
}

section.tokko-portals ul.tokko-portals {
    list-style: none;
    margin-bottom: 30px;
}
section.tokko-portals ul.tokko-portals li {
    width: 20%;
    display: inline;
    padding: 20px;
}

section.tokko-portals ul.tokko-portals li img {
    max-width: 150px;
}
section.tokko-init-services .step-icon {
    color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 0px;
    line-height: 100px;
    font-size: 40px;
}
section.tokko-init-services .step-icon img {
    margin-top: 25px;
}
section.tokko-init-services .step-icon:hover {
    border-radius: 50%;
}


section.tokko-chat {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}
section.tokko-chat .one-third {
    font-size: 150px;
    color: #4dabff;
    text-align: center;
}
section.tokko-chat .two-third {
    padding-top: 30px;
}
.menuMobile {
    display:none;
}

@media (min-width:768px) {
    .tokko-benefits .color-box {
        height: 450px;
    }
    section.tokko-chat .two-third {
        text-align: left;
    }
}
@media (max-width:767px) {
    section.tokko-portals ul.tokko-portals li {
        display: block;
        width: auto;
    }
}

/* ----------------*/

/* ---- Web360 ----*/
section.web360.color-box-holder, 
section.web360.recomendacion {
    margin-bottom: 0px !important;
}
section.web360.article-cover h1 {
    margin-top: 100px;
    color: #ffffff;
    text-transform: none;
    font-weight: 500;
    font-size: 60px;
    line-height: 60px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
section.web360.article-cover h4.article-subtitle {
    color: #fff;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 24px;
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

section.recomendacion .box-shadow img {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.57);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.57);
}

@media (max-width:767px) {
    body.node-web360 .aval-cadeiros,
    body.node-web360 .aval-ceir {
        text-align: center;
    }
    
    body.node-web360 .img-sm {
        display: inherit;
    }
    body.node-web360 .img-lg {
        display: none;
    }
}
    
@media (min-width:768px) {
    body.node-web360 .aval-cadeiros {
        text-align: right;
    }
    body.node-web360 .aval-ceir {
        text-align: left;
    }
    body.node-web360 .img-sm {
        display: none;
    }
    body.node-web360 .img-lg {
        display: inherit;
    }
}

/* ----------------*/

/* ---- lms ----*/
section.lms.page-title h1 {
    color: #044a69;
    margin-bottom: 5px;
}
section.lms.page-title h1 span {
    color: #46494a;
}
section.lms.color-box-holder {
    margin-bottom: 0px !important;
}
section.lms div.lms-video-container img {
    max-width: 1020px;
    max-height: 576px;
    width: auto;
    height: auto;
}
section.lms.why-chose-us {
    text-align: justify;
}
section.lms.why-chose-us h3 {
    text-align: center;
}
section.lms.social-proof a.lms-btn {
    font-size: 18px;
    padding: 20px;
    margin-top: 30px;
    border-color: white;
    color: white;
}
section.lms.social-proof h2 {
    margin-top: 30px;
}
section.lms.social-proof h3 {
    color: #eee;
}
section.lms.social-proof a.lms-btn:hover {
    border-color: #0979be;
    color: #0979be;
}
section.lms.social-proof a.lms-btn i {
    font-size: 18px;
}

@media (max-width:767px) {
    body.node-lms .aval-cadeiros,
    body.node-lms .aval-ceir {
        text-align: center;
    }
    
    body.node-lms .img-sm {
        display: inherit;
    }
    body.node-lms .img-lg {
        display: none;
    }
}
    
@media (min-width:768px) {
    body.node-lms .aval-cadeiros {
        text-align: right;
    }
    body.node-lms .aval-ceir {
        text-align: left;
    }
    body.node-lms .img-sm {
        display: none;
    }
    body.node-lms .img-lg {
        display: inherit;
    }
}

/* ----------------*/

/* ---- Responsive ----*/
@media (max-width:1023px) {
    .text-center-md {
        text-align: center;
    }
    body {
        padding-top:88px;
    }
    #header {
        padding: 39px 0px 0px;
    }
    #header .logo {
        position: absolute;
        top: 10px;
    }
    #header .logo img {
        max-height: 42px;
    }
    #header .navigation .block-superfish > .content {
        margin-left: 105px;
    }
    #header .navigation ul li a {
        padding-bottom: 20px;
    }
    .userInfoBlock {
        z-index: 1901;
        margin-top: -11px;
    }
    .userInfoBlock .userOpen {
        margin-top:0px;
    }
    .userInfoBlock.open .userForm {
        top:58px;
    }
    .blogPage .testimony-inner,
    .meetTeamBlock .testimony-inner,
    .testimonialsBlock .testimony-inner {
        margin-left: 0px;
    }
    .blogPage .testimony-inner,
    .meetTeamBlock .testimony-inner{
        background-position: bottom right;
    }
    #footer .footer_3 {
        border-left: none;
    }
}
@media (max-width:767px) {
    table {
        max-width: 100%;
        table-layout: fixed;
        width: 100% !important;
    }
    #header {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #header .container-center {
        position: inherit;
        width: 100%;
    }
    #header .sticky-wrapper .responsive-nav.stuck {
        position: inherit !important;
        padding-top: 0;
        box-shadow: none;
    }
    #header .logo {
        top: 0px;
        margin-top: 0px;
        left: 15px;
    }
    .userInfoBlock {
        z-index: 1901;
        margin-top: 0;
        position: absolute;
        right: 15px;
    }
    .userInfoBlock.open .userForm {
        top:73px;
    }
    #footer #block-menu-menu-footer-menu ul.menu {
        text-align: center;
    }
    #footer #block-menu-menu-footer-menu ul.menu li {
        width:auto;
        margin-right: 15px !important;
    }
    #footer #block-menu-menu-footer-menu ul.menu li:last-child {
        margin-right: 0px;
    }
    body.front .region-slider > div:first-child {
        display:none;
    }
    body.front .region-slider > div:last-child {
        display:block;
    }
    
    /*--- Main Menu ---*/
    .userInfoBlock {
        right:70px;
    }
    .menuMobile {
        display:block;
        float:right;
        width: 38px;
        height: 38px;
        color: #ccc;
        line-height: 38px;
        border:1px solid #ccc;
        text-align: center;
        border-radius: 50%;
        margin-right: 10px;
        cursor:pointer;
    }
    .menuMobile:hover {
        color: #fff;
        background: #044a69;
        border-color: #044a69;
    }
    .menuMobile i {
        font-size: 17px;
    }
    .menuMobile:hover i {
        color:#fff;
    }
    .region-main-menu #superfish-1 {
        overflow-y: auto;
        position: fixed;
        left: 0;
        z-index: 4;
        background-color: #fff;
        top: 81px;
        display:block !important;
        bottom:0px;
        -webkit-box-shadow: 1px 3px 7px -1px #999;
        box-shadow: 1px 3px 7px -1px #999;
        width:250px;
        -webkit-transition: all 0.5s ease;/* Safari 3.2+, Chrome */
        -moz-transition: all 0.5s ease;/* Firefox 4-15 */
        -o-transition: all 0.5s ease;/* Opera 10.5-12.00 */
        transition: all 0.5s ease;/* Firefox 16+, Opera 12.50+ */
        
        -moz-transform: translateX(-101%);
        -webkit-transform: translateX(-101%);
        -o-transform: translateX(-101%);
        -ms-transform: translateX(-101%);
        transform: translateX(-101%);
    }
    .region-main-menu #superfish-1.show {
        -moz-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -o-transform: translateX(0%);
        -ms-transform: translateX(0%);
        transform: translateX(0%);
    }
    .region-main-menu #superfish-1 li {
        display:block;
        float:none;
    }
    .region-main-menu #superfish-1 li a {
        display:block;
        padding-top: 15px;
        padding-bottom: 15px !important;
        padding-left: 23px !important;
    }
    .admin-menu .region-main-menu #superfish-1 {
        top: 108px;
    }
    .sticky-wrapper {
        min-height: 50px;
    }
    .sticky-wrapper select {
        display:none;
    }
}
@media (max-width:540px) {
    #header .sticky-wrapper .responsive-nav  {
        padding-left: 65px;
        padding-right: 66px;
        box-sizing: border-box;
    }
    #header .sticky-wrapper .responsive-nav select {
        width:100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    #header .logo a {
        display:block;
        overflow: hidden;
    }
    #header .logo img {
        max-width: inherit;
    }
    
    .promotionalBlock .jcarousel > .item-list ul {
        display: inline;
    }
}