/*
 * Nivo Lightbox Default Theme v1.0
 * http://dev7studios.com/nivo-lightbox
 *
 * Copyright 2013, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
.nivo-lightbox-theme-default.nivo-lightbox-overlay { 
	background: #666;
	background: rgba(0,0,0,0.6); 
}
.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading { background: url(../img/nivo-lightbox/default/loading.gif) no-repeat 50% 50%; }

.nivo-lightbox-theme-default .nivo-lightbox-nav {
	top: 10%;
	width: 8%;
	height: 80%;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 0.5;
}
.nivo-lightbox-theme-default .nivo-lightbox-nav:hover { 
	opacity: 1; 
	/*background-color: rgba(0,0,0,0.5);*/
}
.nivo-lightbox-theme-default .nivo-lightbox-prev { 
	background-image: url("../img/nivo-lightbox/default/prev.png"); 
	border-radius: 0 3px 3px 0;
}
.nivo-lightbox-theme-default .nivo-lightbox-next { 
	background-image: url("../img/nivo-lightbox/default/next.png"); 
	border-radius: 3px 0 0 3px;
}

.nivo-lightbox-theme-default .nivo-lightbox-close {
	display: block;
	background: url(../img/nivo-lightbox/default/close.png) no-repeat 5px 5px;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	padding: 5px;
	opacity: 0.5;
}
.nivo-lightbox-theme-default .nivo-lightbox-close:hover { opacity: 1; }

.nivo-lightbox-theme-default .nivo-lightbox-title-wrap { bottom: -7%; }
.nivo-lightbox-theme-default .nivo-lightbox-title {
	font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	background: #000;
	color: #fff;
	padding: 7px 15px;
	border-radius: 30px;
}

.nivo-lightbox-theme-default .nivo-lightbox-image img {
	background: #fff;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	        box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}
.nivo-lightbox-theme-default .nivo-lightbox-ajax,
.nivo-lightbox-theme-default .nivo-lightbox-inline {
	background: #fff;
	padding: 40px;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
	        box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}

@media (-webkit-min-device-pixel-ratio: 1.3),
       (-o-min-device-pixel-ratio: 2.6/2),
       (min--moz-device-pixel-ratio: 1.3),
       (min-device-pixel-ratio: 1.3),
       (min-resolution: 1.3dppx) {

	.nivo-lightbox-theme-default .nivo-lightbox-content.nivo-lightbox-loading { 
		background-image: url(../img/nivo-lightbox/default/loading@2x.gif); 
		background-size: 32px 32px;
	}
	.nivo-lightbox-theme-default .nivo-lightbox-prev { 
		background-image: url(../img/nivo-lightbox/default/prev@2x.png); 
		background-size: 48px 48px;
	}
	.nivo-lightbox-theme-default .nivo-lightbox-next { 
		background-image: url(../img/nivo-lightbox/default/next@2x.png); 
		background-size: 48px 48px;
	}
	.nivo-lightbox-theme-default .nivo-lightbox-close { 
		background-image: url(../img/nivo-lightbox/default/close@2x.png); 
		background-size: 16px 16px;
	}
	
}
/* ********* */
.wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 4px 0 10px -8px rgba(0, 0, 0, 0.4), -4px 0 10px -8px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    width: 1128px;
}
/* ***** */

.sf-menu.sf-style-space-orange span.sf-description {
    color: #9F9F9F;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 9px;
    line-height: 14px;
    text-transform: uppercase;
}

.footer-main h2.block-title {
font-size: 14px;
color: #fff;
text-transform: uppercase;
font-weight: 700;
margin-bottom: 15px;
	}
	
	
/***************/	
	.md-arrow-left, .md-arrow-right {
    border: 2px solid;
    border-radius: 50%;
    color: #BBBBBB;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    height: 48px !important;
    line-height: 48px;
    margin-left: 2px;
    margin-top: -24px;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: all 0.2s linear 0s;
    width: 48px !important;
    z-index: 100;
	background:none;

}


.md-arrow-left {
    left: 24px;
}
.md-arrow-right {
    right: 24px;
}

.md-arrow-left:before {
    content: "";
    font-family: FontAwesome;
}
.md-arrow-right:before {
    content: "";
    font-family: FontAwesome;
}
/* Primary Tabs */
.tabs.primary{
  padding-left: 31px;
  margin: 0 0 -1px;
  border-bottom: 1px solid #ddd;
}
.tabs.primary li > a {
  background: #f7f7f7;
  border-left: 1px solid #f7f7f7;
  border-right: 1px solid #f7f7f7;
  border-bottom: none !important;
  border-radius: 0;
  padding: 12px 13px;
  color: #6d6d6d;
  position: relative;
  line-height: 1.42857143;
  border: 1px solid transparent;
  display: block;
}
.tabs.primary li {
  position: relative;
  display: inline-block;
  /*bottom: -1px;*/
  z-index: 50;
  border: 1px solid #ddd;
  margin-right: 20px;
}
.tabs.primary li.active {
  border-bottom: 0;
  bottom: -2px;
}
.tabs.primary a:hover{
  text-decoration: none;
}

div.d-tabs .primary {
    background: none repeat scroll 0 0 #FFFFFF;
}
ul.primary li a {
	margin-right: 0 !important;
}
ul.menu li {
    margin: 0 !important;
}
.medium-btn {
    border: medium none;
    cursor: pointer;
    margin-bottom: 15px;
	margin-right: 15px;
    padding: 10px 15px;
}
h1.site-name a {
font-family: 'Open Sans', sans-serif;
font-weight: 700;
margin-bottom: 10px;
text-transform: uppercase;
font-size: 26px;
color: #373737;
line-height: 0;
}
p.tagline {
    color: #9F9F9F;
    display: block;
    font-family: Arial,sans-serif;
    font-size: 9px;
    line-height: 14px;
    text-transform: uppercase;
	padding-bottom: 0 !important;
}
.navigation ul ul {margin-top: 44px !important}
/*ul#superfish-1 li.active-trail a:first-child {color: #F7F7F7 !important;}*/

.mediaholder {
    border: 1px solid #D7D7D7;
    display: block;
    margin-bottom: 15px;
    padding: 6px 6px 0;
}

.mediaholder, .mediaholder img {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 100%;
}
 iframe {
    /*background-color: #000000;
    height: 100%;*/
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.sidebar h2.block-title {
    font-size: 15px;
    margin-bottom: 20px;
    text-transform: none;
	font-weight: normal;
}
.boxed.fa {
    line-height: 1.9;
}

 ul.contextual-links li a {
	background:none !important;
	font-size: 12px;
	text-transform: none;
	}
input, textarea, select, .uneditable-input {
    background-color: #f4f4f4;
    border-color: -moz-use-text-color -moz-use-text-color #dedede;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #757575;
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 15px;
    padding: 10px;
   /* width: 316px;*/
}
.page-contact input#edit-name,.page-contact input#edit-mail, .page-contact input#edit-subject{
    width: 416px;
}
 .page-contact textarea#edit-message{
    width: 436px;
}
.page-contact .grippie{
    width: 434px;
}
h1#pt {display:none;}
input:focus, textarea:focus {
    border-bottom: 1px solid #e2492f;
}

#header .form-item-search-block-form{
	width: 180px;
	float: left;
	height: 39px;
	padding: 0 0 0 5px;
	color: #888;
	border-bottom: 1px solid #dedede;
	border-top: none;
	border-right: none;
	border-left: none;
	font-family: inherit;
	font-size: 13px;	
	background: none !important;
	border: none;
}
div.form-item-search-block-form {margin: 0;  border-bottom: 1px solid #dedede;}
div.form-item-search-block-form input#edit-search-block-form--2 {background: none !important;}
#header-search-button:hover {
	color: #e2492f;
}

#header-search-button {
	background-color: #fff;	
	width: 50px;
	height: 40px;
	border: none;
	cursor: pointer;
	color: #999;
	font-size: 16px;
	line-height: 40px;	
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	transition: background-color .2s linear;
}


#isotope-options {
background-color: #fff !important;
}
/*.view-portfolio.col-row {margin-right: 0 !important;}*/

.f-width {
    width: 98%;
}
.block { margin-bottom: 40px;}
.page-taxonomy-term .node-portfolio {margin-bottom: 40px;}
.page-blog .main-content-left, .page-blog .main-content-right {
padding-bottom: 0 !important;
}
#block-superfish-1.block, #block-superfish-2.block,#block-superfish-3.block {margin-bottom: 0 !important;}
 .navigation ul ul li a:hover{

    width: 150px !important;

}

.field-name-field-portfolio-image img {
    border: 1px solid #d7d7d7;
    display: block;
    margin-bottom: 20px;
    padding: 6px;
    position: relative;
}
div.grippie {display:none;}
.tag-cloud .item-list ul li {margin: 0;}
.tag-cloud .item-list ul li a.active {color: #fff;}
.t-holder h2 {
color: #fff;
text-align: center;
font-weight: 700;
padding: 30px 0 10px 0;
margin-bottom: 0;
}

.twitter-feed p {
text-align: center;
}
.twitter-holder .block {
	margin-bottom: 0 !important;
	}
	
	.view-latest-blog-posts ul.latest-blog-posts  li, #block-block-15 ul.latest-blog-posts li {
		padding: 8px 0 !important;
		}
		.view-latest-blog-posts ul.latest-blog-posts {
margin-top: -5px;
}

.blog-style-2 .post-media {
    float: left;
    margin-left: 14px;
	border: 1px solid #d7d7d7;
    display: block;
    margin-bottom: 15px;
    padding: 6px 6px 0;
	/*width: 234px !important;
	height: 216px !important;*/
}

.blog-style-2 .post-media img {
    height: 200px;
    max-width: 234px;
}
.blog-style-2 .post-media iframe {
    max-height: 200px;
    max-width: 234px;
}

.boxshadow .av img {
    border-radius: 50%;
    box-shadow: 0 0 0 5px #fff, 0 0 1px 5px #888, 0 0 0 12px #fff;
}

.rad ul.links.inline {
	position: absolute;
    right: 15px;
    top: 15px;
	}