.imgResponsive  {
    display:none;
}
#block-map-map {
    margin-bottom: 0px;
}
.mapBlock {
    text-align: center;
    background: #054b6a;
    border-top: 4px solid #7e7e7e;
    position: relative;
}
.mapBlock .container-center {
    position: relative;
    padding-bottom: 20px;
}
.mapBlock ul {
    position: absolute;
    right:0px;
    top:20px;
}
.mapBlock ul li {
    background-color:rgb(4, 74, 105);
    display: block;
    margin-bottom: 5px;
    padding:5px;
    box-shadow: 0px 1px 1px 1px rgba(31, 29, 29, 0.9);
    text-align: left;
    border-bottom: 1px solid #46aaff;
}
.mapBlock ul li span {
    display:inline-block;
    vertical-align: middle;
    
}
.mapBlock ul li .imgFlag {
    border-radius: 22px;
    overflow: hidden;
    height: 22px;
    width: 22px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 5px 1px #333333;
    margin-right:5px;
}
.mapBlock ul li .imgFlag img {
    display: inline-block;
    position: absolute;
    left:50%;
    top:50%;
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: inherit;
}
.mapBlock ul li span.name {
    font-weight: bold;
    text-transform: uppercase;
    color:#fff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color=#333333)";/*IE 8*/
    text-shadow: 1px 0px 1px #333333;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color=#333333); /*IE 5.5-7*/
}

.mapBlock img.bg-map {
    width: 100%;
}
@media (max-width:767px) {
    .hide-xs {
        display:none;
    }
    .imgResponsive {
        display: block;
    }
    .mapBlock ul {
        position: static;
        font-size: 0px;
        text-align:left;
    }
    .mapBlock ul li {
        display:inline-block;
        margin-right:5px;
        width:calc( 50% - 5px );
        font-size:14px;
        box-sizing: border-box;
        vertical-align: top;
    }
    .mapBlock ul li .imgFlag {
        float:left;
        height: 20px;
        width: 20px;
    }
    .mapBlock ul li span.name {
        overflow: hidden;
        display: block;
        font-size: 11px;
    }
}
@media (max-width:480px) {
    .mapBlock ul li {
        width: 100%;
        margin-right: 0px;
    }
}