#block-faqs-faqs .form-item {
    margin-bottom:20px;
}
#block-faqs-faqs .form-item label {
    display:block;
}
#block-faqs-faqs .form-item input {
    max-width: 100%;
}
#block-faqs-faqs input.submit {
    float:right;
    margin-right: 0px;
}
#block-faqs-faqs #faqs-form,
#messages {
    max-width:460px;
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
}