li.sf-depth-1 a.active {color:#F7F7F7 !important;}
.sf-depth-1 span.sf-description {margin-top:4px;}
.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul {
    background: none;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0 !important;
	border: none;
}
li.sf-depth-2 li a{
    color: #707070;
    font-size: 11px;
    margin-left: 0;
    border: none;
    width: 150px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    padding: 8px 15px;
}