/*===================================================================

		TABLE OF CONTENTS		
		
	Line 95: /*====CLEAR FIX	- apply to any element that containes floating children which need to be cleared
	Line 128: /*====PRELOADER
	Line 158: /*====MAIN LAYOUT
	Line 239: /*====TOOLTIPS
	Line 297: /*====BLOCKQUOTES
	Line 336: /*====MISCELANIOUS
	Line 437: /*====BUTTONS
	Line 528: /*====TABLES
	Line 574: /*====DROPCAPS
	Line 600: /*====SKILLS
	Line 668: /*====HEADER
	Line 1016: /*====RESPONSIVE NAVIGATION
	Line 1061: /*====HEADER SEARCH FORM
	Line 1150: /*====THE GRID
	Line 1162: /*====COLUMNS - GRID
	Line 1207: /*====CONTAINERS
	Line 1215: /*====SLIDER CONTAINER
	Line 1232: /*====REVOLUTION SLIDER
	Line 1283: /*====REVOLUTION SLIDER LAYER STYLES
	Line 1435: /*====FLEX CONTENT SLIDER 
	Line 1447: /*====TAGLINE
	Line 1528: /*====SECTION
	Line 1554: /*====HEADINGS
	Line 1595: /*===CONTENT SECTIONS
	Line 1658: /*====COLOR BOXES
	Line 1784: /*====CLASSIC BOXES
	Line 1843: /*====PORTFOLIO ITEMS
	Line 1909: /*====PORTFOLIO OVERLAY
	Line 1994: /*====FLEX SLIDER CAROUSEL
	Line 2014: /*====FLEX SLIDER 
	Line 2074: /*====FEATURE BOXES
	Line 2141: /*===UNORDERED LIST STYLES
	Line 2164: /*===CLIENT LOGOS
	Line 2207: /*===TWITTER
	Line 2357: /*===TAG CLOUD
	Line 2386: /*===FOOTER PORTFOLIO
	Line 2491: /*===FOOTER
	Line 2643: /*====TOGGLE AND ACCORDION PANELS
	Line 2708: /*====TABS
	Line 2863: /*====LATEST BLOG POSTS
	Line 2957: /*====PAGE TITLE
	Line 3141: /*====SIDEBAR
	Line 3223: /*====SIDEBAR SEARCH BOX 
	Line 3261: /*====VIDEO
	Line 3306: /*====TEAM MEMBER - TESTIMONY - POST AUTHOR - CONTENT BOX
	Line 3491: /*====SOCIAL LINKS
	Line 3624: /*====BLOG
	Line 3744: /*====BLOG - STYLE 2
	Line 3775: /*====BLOG - FULL
	Line 3786: /*====BLOG SHARE NETWORK
	Line 4033: /*====BLOG COMMENTS
	Line 4088: /*====PAGINATION
	Line 4157: /*====PORTFOLIO ISOTOPE STYLING
	Line 4262: /*====PORTFOLIO SINGLE
	Line 4288: /*====CONTACT
	Line 4430: /*====INFO BOXES
	Line 4517: /*====PRICING TABLES
	Line 4568: /*====PRICING TABLES - PLAN TYPES
	Line 4596: /*====PRICING TABLES-2
	Line 4688: /*====PRICING TABLES - PLAN TYPES
	Line 4737: /*====404 PAGE
	Line 4848: /*====DEVELOPMENT PROCESS
	Line 4925: /*====HELPER CLASSES
	Line 4990: /*====SHOP
	Line 4993: /*====CATALOGUE PAGE
	Line 5159: /*====SHOPPING CART SIDEBAR
	Line 5256: /*====SINGLE PRODUCT PAGE
	Line 5286: /*====QUANTITY
	Line 5319: /*====FLEXSLIDER PRODUCT
	Line 5369: /*====PRODUCT REVIEWS
	Line 5416: /*====SHOPING CART		
	
*========== MAIN COLOR #ad3271 ===========*/		
			
/********************BEGIN RESET********************/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	margin:0;
	padding:0;
}

* :focus { outline: 0; }

/*******************END RESET**************************-*/


/*====CLEAR FIX	- apply to any element that containes floating children which need to be cleared
=======================================================*/

.cf:before,
.cf:after, 
.col-row:before, 
.col-row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after, 
.col-row:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf, 
.col-row {
    *zoom: 1;
}

.col-row {
	margin-bottom: 20px;
}

.col-row .col-row {
	margin-bottom: 0;
}

/*====PRELOADER
=======================================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* change if the mask should have another color then white */
    z-index: 11000; /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-image: url(../../img/status.gif); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px; /* is width and height divided by two */
}

.no-js #preloader {
	display: none;  /* hides the preloader if javascript is disabled  */
}


/*====MAIN LAYOUT
=======================================================*/

body {
	color: #757575;
	font-size: 13px;
	font-family: 'Open Sans', Arial, sans-serif;
	line-height: 21px;
	position: relative;
	background: #fff;
}

h1, h2, h3, h4, h5, h6  {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	margin-bottom: 10px;
}

h1 {
	font-size: 38px;
	line-height: 40px;
	color: #ad3271;
}

h2 {
	font-size: 20px;
	color: #373737;
	text-transform: uppercase;
}

h3 {
	color: #373737;
	font-size: 16px;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: normal;
}

h4 {
	font-size: 14px; 
	font-weight: normal;
}


h5 {
	font-size: 13px; 
}

h6 {
	color: #ad3271;
	font-size: 12px; 
	letter-spacing: 0.5px;
	margin-top: 0;
}

p {
	padding-bottom: 20px;
}

a {
	color: #ad3271;
	text-decoration: none;
	-webkit-transition: color .1s linear;
	-moz-transition: color .1s linear;
	-o-transition: color .1s linear;
	-ms-transition: color .1s linear;
	transition: color .1s linear;
}

a:hover {
	color: #1f1f1f;
}

ul {
	list-style: none;
}

.custom-list {
	line-height: 24px;
}

/*====TOOLTIPS
=======================================================*/
	
.ui-tooltip {
	border-radius: 5px;
	position: absolute;
	z-index: 9999; 
	max-width: 300px;
	color: #fff;
	text-align: center;
	background: #111;
	padding: 4px 8px;
	font-size: 11px;
	opacity: 0.8;
}

.ui-tooltip, .arrow:after {
    background: #111;  
}
  
.arrow {
	width: 70px;
	height: 16px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left: -35px;
	bottom: -16px;	
}

.arrow.top {
	top: -16px;
	bottom: auto;
}

.arrow.left {
	left: 20%;
}
  
.arrow:after {
	content: "";
	position: absolute;
	left: 20px;
	top: -20px;
	width: 25px;
	height: 25px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	tranform: rotate(45deg);
}
  
.arrow.top:after {
	bottom: -20px;
	top: auto;
}

/*====BLOCKQUOTES
=======================================================*/

.author {
	text-align: right;
	font-size: 13px;
	font-style: normal;
	color: #ad3271;
	margin-top: -10px;
}

.quote-left .author {
	text-align: left;
}

.quote-left {
	float: left;
	width: 240px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	background: url(../../img/quotes.png) no-repeat right top;
	padding-right: 40px;	
}

.quote-right {
	float: right;
	width: 240px;
	margin-left: 20px;
	margin-bottom: 20px;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	background: url(../../img/quotes.png) no-repeat left top;
	padding-left: 40px;	
}

/*====MISCELANIOUS
=======================================================*/

.highlight-1, .highlight-2, .highlight-3 {
	padding: 1px 5px;
}

.highlight-1 {
	color: #2f2f2f;
	background: #fbffa3;
}

.highlight-2 {
	color: #f7f7f7;
	background: #2f2f2f;
}

.highlight-3 {
	color: #f7f7f7;
	background: #ad3271;
}

abbr, acronym { 
	border-bottom: 1px solid #929292; 
}

del {
	color:#929292; 
}

pre,code,tt   { 
	font-family: 'lucida console', monospace; 
}

ol li {
	font-size: 12px;
}

strong {
	color: #373737;
}

/*  Separators  */

.separator-1,
.separator-2,
.separator-3,
.separator-4,
.separator-5,
.separator-6,
.separator-7 {
	height: 27px;
	margin-bottom: 40px;
	margin-top: 0;
	border: none;
	clear: both;
}

.separator-1 { background: url(../../img/separators/sign.png) no-repeat center; }
.separator-2 { background: url(../../img/separators/waves.png) no-repeat center; }
.separator-3 { background: url(../../img/separators/star.png) no-repeat center; }
.separator-4 { background: url(../../img/separators/jigsaw.png) no-repeat center; }
.separator-5 { background: url(../../img/separators/crown.png) no-repeat center; }
.separator-6 { background: url(../../img/separators/arrow.png) no-repeat center; }
.separator-7 { background: url(../../img/separators/diamond.png) no-repeat center; }

footer .separator-1 { background: url(../../img/separators/sign-footer.png) no-repeat center; }
footer .separator-2 { background: url(../../img/separators/waves-footer.png) no-repeat center; }
footer .separator-3 { background: url(../../img/separators/star-footer.png) no-repeat center; }
footer .separator-4 { background: url(../../img/separators/jigsaw-footer.png) no-repeat center; }
footer .separator-5 { background: url(../../img/separators/crown-footer.png) no-repeat center; }
footer .separator-6 { background: url(../../img/separators/arrow-footer.png) no-repeat center; }
footer .separator-7 { background: url(../../img/separators/diamond-footer.png) no-repeat center; }

.left-img {
	float: left;
	margin-right: 15px;
	margin-bottom: 0;
}

.right-img {
	float: right;
	margin-left: 15px;
	margin-bottom: 0;
}

.image-container {
	position: relative;
} 

.img-absolute {
	position: absolute;	
}

.frame {
	margin-bottom: 15px;
	padding: 4px;
	border: 1px solid #d7d7d7;
}


/*====BUTTONS
=======================================================*/

.rounded {
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.button {
	color: #f7f7f7;	
	background: #ad3271;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	transition: background-color .2s linear;
	display: inline-block;
	margin-bottom: 20px;
}

.button-secondary {
	color: #f7f7f7;	
	background: #373737;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	transition: background-color .2s linear;
	display: inline-block;
	margin-bottom: 20px;
}

.button-secondary:hover {
	background: #757575;
	color: #fff;
}

.button:hover {
	background: #2f2f2f;
	color: #f7f7f7;
}

.border {
	color: #757575;
	background: none;
	border: 1px solid;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

.border:hover {
	background: none;
	color: #ad3271;
}

.button i, .button-secondary i {
	padding-right: 5px;
}

.tiny-btn {
	font-size: 9px;
	padding: 2px 6px; 
	text-transform: uppercase;
}

.small-btn {
	font-size: 10px;
	padding: 3px 8px; 
	text-transform: uppercase;
}

.medium-btn {
	font-size: 11px;
	padding: 7px 11px; 
	text-transform: uppercase;
}

.large-btn {
	font-size: 12px;
	padding: 9px 14px; 
	text-transform: uppercase;
}

.large-btn i {
	font-size: 13px;
}


/*====TABLES
=======================================================*/

table { 
	width: 100%; 
	text-align: left; 
	border-collapse: collapse;
	border: 1px solid #e1e1e1;
	margin-bottom: 20px;
}

th   { 
	color: #ad3271;
	text-transform: uppercase;
	font-size: 14px;
	border-bottom: 2px solid #c1c1c1;
	border-right: 1px solid #e1e1e1;
}

thead, tfoot {
	font-weight: 700;
}

th { 
	padding: 8px; 	
}

td, caption { 
	border-bottom: 1px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
}

th, td, caption { 
	padding: 8px; 
}

tr.even td  {
	background: #f4f4f4; 
}

caption     {
	color: #ad3271;
	border-collapse: collapse;
}


/*====DROPCAPS
=======================================================*/

.dropcap-1 {
	display: block;
	float: left;
	font-size: 36px;
	line-height: 36px;
	margin: 2px 8px 0 0;
	color: #ad3271;
}

.dropcap-2 {
	display: block;
	color: #f7f7f7;
	font-size: 23px;
	padding-top: 7px;
	width: 33px;
	height: 27px;
	text-align: center;
	border-radius: 50%;
	background-color: #2f2f2f;
	float:left;
	margin: 4px 8px 0 0;
}

/*====SKILLS
=======================================================*/

.skill-list {
	margin-bottom: 15px;
}

.skillbar {
	position: relative;
	display: block;
	margin-bottom: 5px;
	width: 100%;
	background: #f4f4f4;
	height: 35px;
	border-bottom: 1px solid #e4e4e4;

	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12px;
	color: #fff;
	width: 100%;
}

.skillbar-title span {
	display: block;
	padding: 0 20px;
	height: 35px;
	line-height: 35px;
}

.skillbar-title i {
	float: left;
	line-height: 35px;
	padding: 0 15px;
	font-size: 14px;
}

.skillbar-bar {
	height: 35px;
	width: 0px;
	background: #ad3271;
	border-bottom:1px solid #ad3271;
}

.skill-bar-percent {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 11px;
	height: 35px;
	line-height: 35px;
	color: #373737;
}	
	
/*====HEADER
=======================================================*/	

.logo {
	float: left;
	margin-top: 26px;	
	margin-bottom: 26px;
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
}

.logo img {
	vertical-align: bottom; 
}

header {
	position: relative;
	z-index: 300;
	border-bottom: 1px solid #e4e4e4;
	width: 100%;
	background: #fff;
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
}

.boxshadow header {
	border: none;
	-webkit-box-shadow: 0 3px 4px -3px #999;
	box-shadow: 0 3px 4px -3px #999;
}

.header-top {
	background: #f7f7f7;
	border-bottom: 1px solid #f0f0f0;

	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
}

.header-top ul li, .header-top ul li a {
	display: inline-block;
	margin-left: 10px;
	font-size: 11px;
	color: #999;
}

.header-top ul li a:hover {
	color: #ad3271;	
}

.header-top-links {
	margin-top: 10px;
}

.navigation ul li {
    display: block;
    float: left;
    position: relative;
}

.navigation ul li a {
    font-size: 13px;
    font-weight: 700;
    color: #4d4d4d;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    -webkit-transition: background-color .2s linear, padding-top .2s linear;
    -moz-transition: background-color .2s linear, padding-top .2s linear;
    -o-transition: background-color .2s linear, padding-top .2s linear;
    -ms-transition: background-color .2s linear, padding-top .2s linear;
    transition: background-color .2s linear, padding-top .2s linear;
    padding: 34px 9px 10px;
}

.navigation ul li a:hover,.navigation .active-nav {
    background-color: #373737;
    text-shadow: none;
    color: #f7f7f7!important;
    -webkit-box-shadow: 0 3px 0 #ad3271;
    box-shadow: 0 3px 0 #ad3271;
}

.navigation ul li a span {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 9px;
    display: block;
    line-height: 14px;
    color: #9f9f9f;
}

.navigation ul .dropdown>a {
    background-color: #373737;
    text-shadow: none;
    color: #f7f7f7;
    -webkit-box-shadow: 0 3px 0 #ad3271;
    box-shadow: 0 3px 0 #ad3271;
}

.navigation ul ul {
    margin-top: 48px;
    position: absolute;
    top: -999em;
    width: 180px;
    background: #fff;
    border-top: 3px solid #ad3271;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.navigation ul ul li a:hover {
    background-color: #373737;
    box-shadow: none;
}

.navigation ul {
    float: right;
    position: relative;
    z-index: 1200;
    margin-right: 15px;
}

.navigation-simple ul li {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    padding: 6px;
}

.navigation-simple ul li a {
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    color: #373737;
    text-transform: uppercase;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.navigation-simple ul ul li a:hover {
    background-color: #ad3271;
    color: #fff;
}

.navigation-light ul li {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    padding: 6px;
}

.navigation-light ul li a {
    font-size: 14px;
    color: #757575;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-transform: capitalize;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.navigation-light ul ul li a {
    color: #707070;
    font-size: 13px;
    margin-left: 0;
    border: none;
    width: 150px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    padding: 8px 15px;
}

.navigation-light ul ul li a:hover {
    color: #ad3271;
}

.navigation ul ul li a,.navigation-simple ul ul li a {
    color: #707070;
    font-size: 11px;
    margin-left: 0;
    border: none;
    width: 150px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    padding: 8px 15px;
}

.navigation ul ul .dropdown a,
.navigation-simple ul ul .dropdown a,
.navigation-light ul ul .dropdown a {
    box-shadow: none;
}

.navigation ul ul li ul,
.navigation-simple ul ul li ul,
.navigation-light ul ul li ul {
    border: none;
}

.navigation ul ul li,
.navigation-simple ul ul li,
.navigation-light ul ul li {
    width: 100%;
    margin-left: 0;
    padding: 0;
}

.navigation ul li:hover,
.navigation-simple ul li:hover,
.navigation-light ul li:hover {
    visibility: inherit;
}

.navigation ul a,
.navigation-simple ul a,
.navigation-light ul a {
    position: relative;
}

.navigation ul li:hover ul,
.navigation ul li.sfHover ul,
.navigation-simple ul li:hover ul,
.navigation-simple ul li.sfHover ul,
.navigation-light ul li:hover ul,
.navigation-light ul li.sfHover ul {
    left: 0;
    top: 2.5em;
    z-index: 99;
}

.navigation ul li:hover li ul,
.navigation ul li.sfHover li ul,
.navigation-simple ul li:hover li ul,
.navigation-simple ul li.sfHover li ul,
.navigation-light ul li:hover li ul,
.navigation-light ul li.sfHover li ul {
    top: -999em;
    margin-top: 0;
}

.navigation ul li li:hover ul,
.navigation ul li li.sfHover ul,
.navigation ul li li li:hover ul,
.navigation ul li li li.sfHover ul,
.navigation-simple ul li li:hover ul,
.navigation-simple ul li li.sfHover ul,
.navigation-simple ul li li li:hover ul,
.navigation-simple ul li li li.sfHover ul,
.navigation-light ul li li:hover ul,
.navigation-light ul li li.sfHover ul,
.navigation-light ul li li li:hover ul,
.navigation-light ul li li li.sfHover ul {
    left: 180px;
    top: 0;
}

.navigation ul li li:hover li ul,
.navigation ul li li.sfHover li ul,
.navigation-simple ul li li:hover li ul,
.navigation-simple ul li li.sfHover li ul,
.navigation-light ul li li:hover li ul,
.navigation-light ul li li.sfHover li ul {
    top: -999em;
}

.navigation ul ul li a i,
.navigation ul ul li a i,
.navigation-light ul ul li a i,
.navigation-simple ul ul li a i {
    position: absolute;
    right: 15px;
    line-height: 23px;
    font-size: 14px;
}

.navigation-simple ul,.navigation-light ul {
    float: right;
    position: relative;
    z-index: 1200;
    margin-right: 15px;
    margin-top: 35px;
}

.navigation-simple ul li a:hover,
.navigation-simple .active-nav,
.navigation-simple ul .dropdown>a,
.navigation-light ul li a:hover,.navigation-light .active-nav,
.navigation-light ul .dropdown>a {
    text-shadow: none;
    color: #ad3271;
}

.navigation-simple ul ul,
.navigation-light ul ul {
    position: absolute;
    top: -999em;
    width: 180px;
    background: #fff;
    margin-top: 0;
    margin-left: 5px;
    border-top: 3px solid #ad3271;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.navigation-simple ul ul ul,
.navigation-light ul ul ul {
	margin-left: 0;
}

.navigation-light ul ul li a {
	border-bottom: 1px solid #ebebeb;
}

.navigation-light ul ul li ul {
	border-left: 1px solid #ebebeb;
}

/*====RESPONSIVE NAVIGATION
=======================================================*/

.responsive-nav select {
	-webkit-appearance: none;
	display: none;
	background: url(../../img/nav.png) no-repeat 97% center #fff;
	border: 1px solid #eee;
	cursor: pointer;
	padding: 10px 5px;
	color: #676767;
	-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
}

.responsive-nav {
	display: none;
	padding-bottom: 15px;
	width: 100%;
	background: #fff;
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
}

.stuck {	
	position: fixed;
	top: 0;
	padding-top: 15px;
	border-bottom: 1px solid #e4e4e4;
}

.sticky-wrapper {
	height: 0!important;
}

.boxshadow .stuck {
	border: none;
	-webkit-box-shadow: 0 3px 4px -3px #999;
	box-shadow: 0 3px 4px -3px #999;
}

/*====HEADER SEARCH FORM
=======================================================*/

.search-button {
	display: block;
	width: 38px;
	height: 38px;
	color: #ccc;	
	text-align: center;
	line-height: 36px;
	font-size: 19px;
	margin-top: 32px;
	border: 1px solid #ccc;
	
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
}

.search-open:hover {
	color: #fff;
	background: #ad3271;
	border-color: #ad3271;
}

.search-open {
	border-radius: 50%;
}

.search-close {
	border-radius: 50%;
	opacity: 0.4;
}

.search-container {
	float: right;
	position: relative;
}

.search-panel {
	position: absolute;
	background: #fff;		
	left: -260px;
	top: 104px;
	width: 278px;
	border: 1px solid #eee;
	border-top: none;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: none;	
}

#header-search-box {
	width: 223px;
	float: left;
	height: 39px;
	padding: 0 0 0 5px;
	color: #888;
	border-bottom: 1px solid #dedede;
	border-top: none;
	border-right: none;
	border-left: none;
	font-family: inherit;
	font-size: 13px;	
}

#header-search-button:hover {
	color: #ad3271;
}

#header-search-button {
	background-color: #fff;	
	width: 50px;
	height: 40px;
	border: none;
	cursor: pointer;
	color: #999;
	font-size: 16px;
	line-height: 40px;	
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

/*====THE GRID
=======================================================*/

.inner-col {
	padding: 0 30px 0 0;
}

img {
	height: auto;
}


/*====COLUMNS - GRID
=======================================================*/

.one-half, 
.one-third, 
.two-third, 
.two-third-outer, 
.one-fourth, 
.three-fourth,  
.one-sixth, 
.five-sixth {
	float: left;
	margin-right: 24px;
}

.one-fourth 		{	width: 234px;	}
.three-fourth 		{	width: 750px;	}
.one-third 			{	width: 320px;	}
.two-third 			{	width: 664px;	}
.one-half 			{	width: 492px;	}
.one-sixth 			{	width: 148px;	}
.five-sixth 		{	width: 836px;	}
.full-width 		{	width: 100%;	}

.main-content-right .full-width,
.main-content-left .full-width {
	width: 664px;
}

.last {
	margin-right: 0px !important;
}

.col-row {
	margin-right: -24px;
}

.five-sixth img, 	
.three-fourth img, 	
.two-third img, 	
.one-half img, 		
.one-third img, 	
.one-fourth img,	
.one-sixth img	{ max-width: 100%; }

/*====CONTAINERS
=======================================================*/

.container-center {
	width: 1008px;
	margin: 0 auto;
}

/*====SLIDER CONTAINER
=======================================================*/

#slider-block {
	height: 700px;	
}

.container-slider {
   width: 100% !important;
   position: relative;
   padding: 0;
   max-height: 640px !important;  /*  480 Same value as in OPTIONS the startheight parameter  */
   overflow: hidden;
   margin-bottom: 40px;
}


/*====REVOLUTION SLIDER
=======================================================*/

.tp-rightarrow, .tp-leftarrow {
	display: block;
	float: left;
	width: 48px;
	height: 48px;
	font-size: 14px;
	text-align: center;
	line-height: 48px;
	color: #bbb;
	margin-left: 2px;
	position: absolute;
	z-index: 100;
	cursor: pointer;
	top: 50%;	
	margin-top: -24px;	
	border-radius: 50%;
	border: 2px solid;
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-o-transition: all linear .2s;
	-ms-transition: all linear .2s;
	transition: all linear .2s;
}

.tp-rightarrow  {
	right: 24px;	
}

.tp-rightarrow:before  {
	content: "\f105";
	font-family: FontAwesome;
}

.tp-leftarrow {
	left: 24px;
}

.tp-leftarrow:before  {
	content: "\f104";
	font-family: FontAwesome;
}

.tp-rightarrow:hover, .tp-leftarrow:hover {
	color: #fff;
	border-color: #ad3271;
	background: #ad3271;
} 

/*====REVOLUTION SLIDER LAYER STYLES
=======================================================*/

.slider-bg-color {
	background: #ad3271;
}

.big-title-row {
	font-size: 73px;
	line-height: 58px;
	color: #212121;
	text-transform: uppercase;
	font-weight: 800;
	text-align: right;
	-webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
}

.big-title-description {
	font-size: 28px;
	line-height: 32px;
	font-weight: 300;	
	color: #4c4c4c;
	width: 400px;
	text-align: left;
}

.layer-h2-no {
	font-size: 40px;
	line-height: 50px;
	font-weight: 800;
}

.layer-h3 {
	font-size: 20px;
	line-height: 50px;
	text-transform: capitalize;
	font-weight: 300;
	color: #888;
	border-bottom: 1px solid #bbb;
}

.layer-h2 {
	font-size: 60px;
	color: #fff;
	display: inline-block;
	line-height: 50px;
	background: #ad3271;
	padding: 20px 30px;
	font-weight: 800;
}

.layer-h2-boxed {
	font-size: 44px;
	color: #fff;
	display: inline-block;
	line-height: 50px;
	background: #ad3271;
	padding: 20px 30px;
	text-transform: none;
}

.layer-h2-tran {
	font-size: 44px;
	color: #fff;	
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 0px #333;
}

.layer-description {
	background: #373737;
	color: #fff;
	font-size: 16px;
	padding: 20px 30px;
	max-width: 540px;
	white-space: normal;
	text-align: center;
}

.layer-description-tran {
	color: #fff;
	font-size: 17px;
	line-height: 22px;
	text-align: center;
	width: 560px;
	white-space: normal;
	text-shadow: 1px 1px 0px #333;
}

.layer-description-transparent {
	white-space:normal;
	width: 660px;
	text-shadow: 1px 1px 0px #333;
	color: #fff;
	text-align: center;
}

.layer-description-transparent p {
	font-size: 17px;
	line-height: 24px;
}

.layer-description p {
	padding-bottom: 0;
}

.layer-buttons a {
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	padding: 15px 20px;
	display: block;
	float: left;
	margin-right: 10px;
	
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

.primary {background: #ad3271; }
.secondary, .primary:hover {background: #373737;}
.secondary:hover {background: #757575; }

.slider-bullets {
	color: #fff;
}

.slider-bullets i {
	color: #fff;
	display: inline-block;
	float: left;
	height: 43px;
	width: 43px;
	line-height: 43px;;
	position: relative;
	text-align: center;
	font-size: 21px;
}

.slider-bullets span {
	display: inline-block;
	color: #373737;
	font-size: 14px;
	line-height: 43px;
	background: #fff;
	opacity: 0.8;
	padding: 0 10px;
}

/*====FLEX CONTENT SLIDER 
=======================================================*/

.content-slider .big-title-row {
	line-height: 56px;
	margin-top: 70px;
}

.content-slider {
	position: relative;
}

/*====TAGLINE
=======================================================*/

.tagline h2 {
	font-size: 22px;
	color: #373737;
	line-height: 26px;
}

.tagline h2 span {
	color: #ad3271;
}

.tagline p {
	font-size: 13px;	
	line-height: 20px;
}

.big-button {
	color: #fff; 
	font-size: 14px; 
	text-transform: uppercase;	
	line-height: 32px;	
	background: #ad3271;
	padding: 15px 0 15px 20px;	
	margin-top: 7px;
	margin-bottom: 20px;
	display: block;
	
	-webkit-transition: background-color .2s ease-out;
	-moz-transition: background-color .2s ease-out;
	-o-transition: background-color .2s ease-out;
	-ms-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
}

.big-button:hover {
	background: #373737;	
	color: #fff;
}

.btn-arrow {
	background: #373737;
	color: #fff;
	font-weight: 700;
	display: block;
	float: right;
	width: 72px;
	height: 62px;
	margin-top: -15px;
	text-align: center;
	line-height: 65px;	
}

.btn-arrow i {
	border-radius: 50%;
	border: 2px solid #fff;
	width: 26px;
	height: 23px;
	padding-top: 4px;
	font-weight: 700;
	font-size: 19px;
	padding-left: 1px;
}

.color-section .big-message, 
.dark-section .big-message {
	color: #fff;		
}
 
.big-message {
	font-size: 26px;
	line-height: 34px;
	font-weight: 300;
	text-align: center;
}

.light-section .big-message {
	color: #757575;
}

/*====SECTION
=======================================================*/

.section-title {
	margin-bottom: 30px;
}

.section-title h2 {
	margin-bottom: 0;
}

.main-content-left, .main-content-right {
	width: 664px;
	padding-bottom: 30px;
}

.main-content-left {
	float: left!important;
	margin-right: 72px;
}

.main-content-right {
	float: right!important;
	margin-left: 72px;
}

/*====HEADINGS
=======================================================*/

.heading-small {
	font-size: 12px;
	font-weight: 700;
}

.heading-medium {
	font-size: 16px;
	font-weight: 700;
}

.heading-big {
	font-size: 20px;
	font-weight: 700;
}

.heading-extra-big {
	font-size: 30px;
	font-weight: 700;
	line-height: 26px;
	margin-bottom: 5px;
}

.sub-heading, .sub-heading-small {	
	text-transform: capitalize; 
	font-weight: 300; 
	color: #8b8b8b;
}

.sub-heading {	
	font-size: 14px; 
}

.sub-heading-small {	
	font-size: 11px; 
	margin-top: -5px;
	text-transform: uppercase;
}

/*===CONTENT SECTIONS
=======================================================*/

.section-bg-1 {
	background: url(../../img/section-bg/001.png) no-repeat center center;
}

.section-bg-2 {
	background: url(../../img/section-bg/002.png) no-repeat center center;
}

.section-bg-3 {
	background: url(../../img/section-bg/003.png) no-repeat center center;
}

.section-bg-4 {
	background: url(../../img/section-bg/004.png) no-repeat center center;
}

.section-bg-5 {
	background: url(../../img/section-bg/005.jpg) no-repeat center;
}

.dark-section,
.light-section,
.color-section {
	/*padding: 50px 0;*/
	padding: 50px 0 10px 0;
	margin-bottom: 40px;
}

.dark-section,
.color-section {
	color: #fff;
}

.color-section {	
	background-color: #ad3271;
} 

.dark-section {
	background-color: #373737;
}

.dark-section h2,
.color-section h2 {
	color: #fff;
}

.dark-section h3 {
	color: #ccc;
}

.color-section h3 {
	color: #fff;
}

.light-section {
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	background-color: #f8f8f8;
}

/*====COLOR BOXES
=======================================================*/

.color-box-holder {
	background-color: #ad3271;
	margin-bottom: 40px;
}

.color-box {	
	float: left;
	text-align: center;	
	padding: 40px 20px;
	background-color: #ad3271;
	margin-bottom: 20px;
	-webkit-transition: background-color .2s ease-out;
	-moz-transition: background-color .2s ease-out;
	-o-transition: background-color .2s ease-out;
	-ms-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
}

.color-box-holder .color-box {
	background: none;
	margin-bottom: 0;
}

.box-4 .color-box {
	width: 212px;		
}

.box-3 .color-box {
	width: 296px;
}

.box-2 .color-box {
	width: 464px;
}

.color-box:hover {
	background: #373737;
}

.color-box h3 {
	font-size: 14px;
	background: #373737;
	display: inline-block;
	padding: 5px 10px;
	margin: 0 auto 1px auto;
	color: #fff;
	text-transform: none;
	font-weight: 700;
}
	
.color-box h4 {	
	font-size: 10px;
	text-transform: uppercase;
	margin-bottom: 0;
	display: block;	
	margin: 0 auto;	
}

.color-box h4 span {
	color: #757575;
	background: #fff;
	padding: 2px 6px;
	display: inline-block;	
}

.color-box i {
	color: #fff;
	width: 32px;
	height: 32px;
	line-height: 33px;
	font-size: 28px;
	padding: 14px;
	border-radius: 50%;
	border: 5px solid;
}

.color-box p {color: #fff;}
.color-box img {display: block; padding-bottom: 20px; margin: 0 auto;}
.color-box i {
	display: block; 
	margin: 10px auto 20px auto; 
	overflow: visible;
}

.color-box:hover .tilted h4 {
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); /* IE 9 */
	-webkit-transform:rotate(7deg); /* Safari and Chrome */
} 

.color-box:hover h3 {
	background: #ad3271;
	color: #fff;
} 

.color-box .button {
	margin-bottom: 0;
	background: none;
}
.color-box-title {
	margin-bottom: 25px;
}

.color-box:hover .button {
	background: #ad3271;
}

.color-box .button:hover {
	background: none;
}

.tilted h4 {
	-webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

/*====CLASSIC BOXES
=======================================================*/

.classic-box {
	margin-bottom: 20px;
	text-align: center;
	
	-webkit-transition: background-color .2s ease-out;
	-moz-transition: background-color .2s ease-out;
	-o-transition: background-color .2s ease-out;
	-ms-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
}

.classic-box h3 {
	margin-bottom: 0px;
	font-size: 15px;
	line-height: 18px;
	color: #373737;
	font-weight: 700;
}
	
.classic-box h4 {
	color: #999;
	font-size: 10px;
	text-transform: uppercase;
	margin-bottom: 0;
	margin-top: -4px;
	
}

.classic-box img {
	display: block; 
	padding-bottom: 20px; 
	margin: 0 auto;
}

.classic-box i {
	display: block; 
	margin: 10px auto 15px auto; 
	overflow: visible;
	color: #373737;
	width: 32px;
	height: 32px;
	line-height: 33px;
	font-size: 28px;
	padding: 14px;
	border-radius: 50%;
	border: 5px solid;
}

.classic-box .button {
	margin-bottom: 0;
}

.classic-box-title {
	margin-bottom: 20px;
}

/*====PORTFOLIO ITEMS
=======================================================*/

.p-item {	
	text-align: center;
	overflow: hidden;
	margin-bottom: 24px;
}

.p-item img {
	display: block;
}

.p-item figcaption span {
	color: #b5b5b5;	
	margin-top: -3px;
	font-size: 11px;
	display: block;
	-webkit-transition: color .1s ease-in;
	-moz-transition: color .1s ease-in;
	-o-transition: color .1s ease-in;
	-ms-transition: color .1s ease-in;
	transition: color .1s ease-in;
}

.p-item figcaption {
	padding: 14px 0;	
	border-bottom: 1px solid #eee;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

.p-item:hover figcaption {
	background: #ad3271;	
	color: #fff;
}

.p-item:hover figcaption span {		
	color: #fff;
}

.p-item h5 {
	margin-bottom: 0;
	font-weight: normal;
}

.p-item figure {
	position: relative;
}

.csstransitions .p-item:hover .overlay {
	opacity: 1;	
}

.p-item:hover .overlay-bg {
	height: 100%;
}

.no-csstransitions .p-item:hover .overlay {
	display: block;
}


/*====PORTFOLIO OVERLAY
=======================================================*/

.overlay-container {
	position: relative;
	height: 100%;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: 0;		

	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
}

.no-csstransitions .overlay {
	display: none;
}

.overlay-bg {
	background: #121212;
	width: 100%;
	height: 0;
	z-index: 4;
	position: absolute;
	top: 0;
	opacity: 0.4;
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	

}

.overlay-buttons {
	margin: 0 auto;
	width: 94px;
	height: 42px;
	overflow: hidden;
	position: absolute;
	z-index: 5;
	top: 50%;
	left: 50%;
	margin-left: -46px;
	margin-top: -21px;
}

.overlay-buttons a {	
	width: 37px;
	height: 37px;
	display: block;
	float: left;
	border-radius: 50%;
	border: 2px solid #fff;	
	margin-right: 10px;		
	line-height: 37px;	
	text-align: center;
	font-size: 19px;
	color: #fff;
	
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
}

.overlay-buttons a i {
	padding-right: 1px;
}

.overlay-buttons a:hover {
	color: #fff;
	border-color: #ad3271;
	background: #ad3271;	
}

/*====FLEX SLIDER CAROUSEL
=======================================================*/

.carousel-container {
	margin-bottom: 20px;
}

.carousel-container .p-item {
	margin-bottom: 0;
}

.carousel-wrap {
	margin-top: 3px;
	position: relative;
}

.flex-direction-nav {
	margin-top: 20px;
}

/*====FLEX SLIDER 
=======================================================*/

.flex-nav-left .flex-direction-nav {
	text-align: left;
	margin-top: 0;
	position: absolute;
	left: -258px;
	bottom: 60px;
}

.flex-direction-nav {
	text-align: center;
}

.flex-direction-nav li a {
	position: relative;
	z-index: 10;
}

.flex-direction-nav li {
	display: inline-block;
	margin-right: 3px;
}

.flex-prev, .flex-next {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 2px;
	border-radius: 50%;
	border: 2px solid;
	color: #bbb;
	text-align: center;
	line-height: 30px;	
	font-size: 14px;	
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
	
}

.flex-prev i {
	font-weight: 700;
} 
.flex-next i {
	font-weight: 700;
}

.flex-next:hover, 
.flex-prev:hover, 
.portfolio-link:hover {
	background-color: #ad3271; 
	border-color: #ad3271;
	color: #fff;
} 


/*====FEATURE BOXES
=======================================================*/

.feature-box-icon, .feature-box-icon-o {
	float: left;
	display: block;	
	border-radius: 50%;
	margin-right: 10px;
	font-size: 21px;
	line-height: 44px;
	text-align: center;
	width: 44px;
	height: 44px;
	
	
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

.feature-box-icon {	
	color: #fff;
	background-color: #ad3271;	
	background-repeat: no-repeat;
}

.feature-box-icon-o {	
	color: #ad3271;
	border: 2px solid;
}

.feature-box-title h4 {
	float: left;
	color: #ad3271;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 44px;
}

.feature-box:hover .feature-box-icon, 
.feature-box-right:hover .feature-box-icon {
	background-color: #373737;
}

.feature-box:hover .feature-box-icon-o {
	background-color: #ad3271;
	color: #fff;
	border-color: #ad3271;
}

.feature-box-right .feature-box-icon, 
.feature-box-right .feature-box-icon-o {
	float: right;
	margin-left: 10px;
}

.feature-box-right {
	text-align: right;
}

.feature-box-right h4 {
	float: right;
}


/*===UNORDERED LIST STYLES
=======================================================*/

.custom-list .fa-li {
	line-height:  21px;
}

.custom-list {
	margin-bottom: 15px;
	margin-top: -5px;
}

.fa-li { color: #373737; }
.green-list .fa-li { color: #6ebf4d; }
.red-list .fa-li { color: #e34545; }
.blue-list .fa-li { color: #5c95f2; }
.primary-list .fa-li { color: #ad3271; }


ol li {
	list-style: decimal inside none;
}

/*===CLIENT LOGOS
=======================================================*/

.clients {
	list-style: none;
	margin-bottom: 16px;	
}

.clients li {
	display: block;
	padding: 15px 0px;	
	background: #f4f4f4;
	border-bottom: 1px solid #ccc;
	margin-bottom: 24px;
	
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

.clients li:hover {
	border-bottom: 1px solid #ad3271;	
}

.clients img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 not supported by IE10*/
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */	
	-webkit-transition: 0.3s all ease-in;
	-o-transition: 0.3s all ease-in;
	-moz-transition: 0.3s all ease-in;
	transition: 0.3s all ease-in;
	margin: 0 auto;
	display: block;	
}

.clients li:hover img {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
}

/*===TWITTER
=======================================================*/

.twitter-holder {
	background-color: #ad3271;
	padding-bottom: 30px;
}

.twitter-holder h2 {
	color: #fff;
	text-align: center;
	font-weight: 700;
	padding: 30px 0 10px 0;
	margin-bottom: 0;
}

.twitter-icon img {
	display: block;
	margin: 0 auto;
}

.twitter-icon {
	display: block;
	text-align: center;
	color: #fff;
	font-size: 36px;
	line-height: 59px;
	text-align: center;
	margin: 10px auto 0 auto;
	width: 58px;
	height: 58px;
	border-radius: 50%;
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;
	border: 2px solid #fff;
}

.twitter-icon:hover {
	color: #fff;
	margin-top: 0px;
	margin-bottom: 10px;
}

.twitter-icon a {
	font-size: 11px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;	
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

.twitter-feed {
	width: 800px;
	margin: 0 auto;
	color: #fff;
}

.twitter-feed ul li {
	text-align: center;	
	font-size: 14px;
	line-height: 22px;	
	padding: 0 20px 10px 20px;
	font-family: 'Open-Sans', sans-serif;
	color: #fff;
}

.tweet_list li a {
	color: #fff;
	font-style: italic;
	-webkit-transition: all .2s linear;
	-moz-transition: 	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition:		all .2s linear;
	transition: 		all .2s linear;
}

.tweet_list li a:hover {
	text-decoration: underline;
}

.sidebar-twitter .tweet_list li a {
	color: #ad3271;
}

.sidebar-twitter {
	background: #f4f4f4;
	padding: 15px;
	border-bottom: 1px solid #e4e4e4;
	-webkit-transition: all .2s linear;
	-moz-transition: 	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition:		all .2s linear;
	transition: 		all .2s linear;
}

.sidebar-twitter:hover {
	border-bottom: 1px solid #ad3271;
}

.footer-twitter-holder {
	position: relative;
}

.twitter-follow i {
	color: #9f9f9f;
	font-size: 24px;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid;
	border-radius: 50%;
	padding: 3px;
	margin-top: 15px;
	float: left;
	-webkit-transition: all .2s linear;
	-moz-transition: 	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition:		all .2s linear;
	transition: 		all .2s linear;
}

.footer-twitter li a {
	color: #9f9f9f;
}

.footer-twitter .tweet_list li a:hover {
	text-decoration: none;
}

.twitter-follow:hover i {
	color: #fff;
	border-color: #fff;
}

.twitter-follow a {
	display: block;
	margin-top: 24px;
	float: left;
	margin-left: 10px;
}


/*===TAG CLOUD
=======================================================*/

.tag-cloud {
	margin-bottom: 17px;
}

.tag-cloud a {
	display: block;
	float: left;
	margin-right: 3px;
	margin-bottom: 3px;	
	font-size: 9px;
	text-transform: uppercase;	
	background: #222;
	color: #fff;
	padding: 5px 12px;
	
	-webkit-transition: background-color .2s linear;
	-moz-transition: 	background-color .2s linear;
	-o-transition: 		background-color .2s linear;
	-ms-transition:		background-color .2s linear;
	transition: 		background-color .2s linear;
}

.tag-cloud a:hover {
	background: #ad3271;
}

/*===FOOTER PORTFOLIO
=======================================================*/

.stream-portfolio {
	list-style: none;
	margin-bottom: 17px;
	position: relative;
	z-index: 10;
}

.col-row .col-row .stream-portfolio {
	margin-bottom: 37px;
}

.stream-portfolio li {
	position: relative;
	display: block;
	float: left;
	margin-bottom: 3px;
	margin-right: 3px;
	list-style-type: none;
	width: 76px;
	height: 76px;
}

.sidebar .stream-portfolio li {	
	margin-bottom: 4px;
	margin-right: 4px;
	width: 88px;
	height: 88px;
}

.sidebar .stream-portfolio-overlay  {
	width: 100%;
	height: 100%;
	line-height: 88px;
}

.sidebar .stream-portfolio li img  {
	width: 88px;
	height: 88px;
	box-shadow: #000 0em 0em 0em;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

footer .stream-portfolio li img {
	width: 76px;
	height: 76px;
	box-shadow: #000 0em 0em 0em;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.stream-portfolio-overlay {
	display: block;
	width: 76px;
	height: 76px;
	background: #ad3271;
	top: 0;
	left: 0;
	position: absolute;
	color: #fff;
	line-height: 76px;
	font-size: 19px;
	text-align: center;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.stream-portfolio li a {
	z-index: 4000;
	position: absolute;
	top: 0;
	left: 0;
}

.no-csstransitions .stream-portfolio-overlay {
	display: none;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.no-csstransitions .stream-portfolio li:hover .stream-portfolio-overlay {
	display: block;
}

.stream-portfolio-overlay i {
	color: #fff;
}

.csstransitions .stream-portfolio li img:hover {
	opacity: 0.2;
}

.stream-portfolio li a:hover {
	text-decoration: none;
}


/*===FOOTER
=======================================================*/


#footer {
	background-color: #373737;
	border-top: 10px solid #494949;
	padding-top: 30px;
	color: #fff;
}

footer a {
	color: #9f9f9f;
}

footer a:hover {
	color: #fff;
}

footer h4 {
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}

footer .logo {
	margin-top: 0;
}

.footer-main {
	border-bottom: 1px solid #2a2a2a;
}

.footer-bottom {
	border-top: 1px solid #4d4d4d;
	position: relative;
	padding: 20px 0;
}

.bottom-left {
	float: left;
}

.bottom-right {
	float: right;
}

#footer .copyright {
	font-size: 10px;
	line-height: 30px;
	padding-bottom: 0;
	color: #9f9f9f;
}

#footer-nav {
	list-style: none;
	margin-top: 2px;
}

#footer-nav li {
	display: inline;
	margin-right: 8px;
}

#footer-nav li a {
	font-family: Arial, sans-serif;
	color: #9f9f9f;
	font-size: 10px;
	text-transform: uppercase;
}

#footer-nav li a:hover {
	color: #fff;
}

.scroll-top {
	display: none;
}

.scroll-top a {
	z-index: 21;
	width: 44px;
	height: 44px;	
	border-radius: 50%;
	text-align: center;
	line-height: 43px;
	background: #000;
	position: fixed;
	bottom: 20px;
	right: 20px;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

.scroll-top a:hover {
	background-color: #ad3271;
	color: #fff;
	text-decoration: none;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


.footer-links {
	list-style: none;
}

.footer-links li:first-child {
	padding-top: 0;
}

.footer-links {
	list-style: none;
	margin-bottom: 12px;
}

.footer-links li {
	position: relative;
	z-index: 10;
	padding-bottom: 8px;
}

.footer-links li i {
	color: #9f9f9f;
	margin-right: 10px;
	-webkit-transition: all .1s linear;
	-moz-transition:	all .1s linear;
	-o-transition: 		all .1s linear;
	-ms-transition: 	all .1s linear;
	transition: 		all .1s linear;	
}

.footer-links li a {
	color: #9f9f9f;
}

.footer-links li a:hover {
	color: #fff;
	text-decoration: none;
}
 

/*====TOGGLE AND ACCORDION PANELS
=======================================================*/

.accordion {
	margin-bottom: 20px;
}

.ui-accordion-header {
	background: #f4f4f4;
	padding: 10px;
	font-size: 12px;	
	cursor: pointer;
	color: #ad3271;
	margin-bottom: 5px;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

.ui-accordion-header:hover {	
	color: #373737;
	border-bottom: 1px solid #ad3271;
}
.ui-accordion-header:hover .ui-accordion-header-icon {
	background-color: ;
}

.ui-accordion-header-icon {
	height: 15px;
	width: 15px;
	float: left;
	margin-right: 10px;
	margin-top: 3px;
	display: block;
	background: url(../../img/toggle.png) no-repeat top center #ad3271;
	
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

.ui-accordion-header-active {
	background: #ad3271;
	color: #fff;
	border-bottom: 1px solid #ad3271;
} 
.ui-accordion-header-active:hover {	
	color: #fff;
} 
.ui-accordion-header-active .ui-accordion-header-icon {
	background: url(../../img/toggle.png) no-repeat bottom center #ad3271;
}

.ui-accordion-content {
	padding: 15px 0;
}


/*====TABS
=======================================================*/

.tabs-top .ui-tabs-nav li,
.tabs-top-2 .ui-tabs-nav li {
	display: inline-block;
	margin-right: 5px;	
	padding: 8px 0;
}

.tabs-top .ui-tabs-nav a,
.tabs-top-2 .ui-tabs-nav a {
	padding: 8px 8px;	
	cursor: pointer;
	color: #757575;
	text-transform: uppercase;
	border-left: 1px solid #dedede;
	
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

.tabs-top .ui-tabs-nav a {
	font-size: 10px;
}

.tabs-top .ui-tabs-nav li a:hover,
.tabs-top-2 .ui-tabs-nav li a:hover {
	color: #ad3271;
}

.tabs-top .ui-tabs-active a {
	border-left: 1px solid #ad3271;
	color: #ad3271;
	padding-right: 30px;
}

.tabs-top .ui-tabs-panel,
.tabs-top-2 .ui-tabs-panel {
	padding-top: 15px;
}

/*	TABS TOP STYLE 2	*/


.tabs-top-2 .ui-tabs-nav a {
	color: #373737;
	font-size: 13px;
	font-weight: 800;
}

.tabs-top-2 .ui-tabs-active a {
	border-left: 1px solid #ad3271;
	color: #ad3271;
	padding-right: 30px;
}

/*   TABS SIDE STYLE 1   */

.tabs-side, .tabs-side-2 {
	margin-bottom: 20px;
}

.tabs-side .ui-tabs-nav {
	float: left;
	width: 30%;
}

.tabs-side .ui-tabs-nav a {
	background: #f4f4f4;
	padding: 10px;
	font-size: 11px;	
	cursor: pointer;
	color: #373737;
	margin-bottom: 5px;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	display: block;
	
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
}

.tabs-side .ui-tabs-nav li a:hover, .tabs-side .ui-tabs-active a {
	color: #fff;
	background: #ad3271;
	border-bottom: 1px solid #ad3271;
}

.tabs-side .ui-tabs-nav li a i {	
	padding-right: 8px;
	font-size: 14px;
}

.tabs-side .ui-tabs-panel {
	float: left;
	width: 60%;
	margin: 0 5%;
	border-bottom: 1px solid #e4e4e4;
}


/*   TABS SIDE STYLE 2   */

.tabs-side-2 .ui-tabs-nav {
	float: left;
	width: 30%;
	min-width: 90px;
}

.tabs-side-2 .ui-tabs-nav a {
	padding: 10px;
	font-size: 11px;
	cursor: pointer;
	color: #373737;
	margin-bottom: 1px;
	text-transform: uppercase;
	border-left: 1px solid #ccc;
	background: #f8f8f8;
	display: block;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear;
	-ms-transition: all .2s linear;
	transition: all .2s linear;
	
}

.tabs-side-2 .ui-tabs-nav li a:hover, .tabs-side-2 .ui-tabs-active a {
	color: #ad3271;
	border-left: 1px solid #ad3271;
}

.tabs-side-2 .ui-tabs-active a {
	padding-left: 15px;
}

.tabs-side-2 .ui-tabs-nav li a i {	
	padding-right: 8px;
	font-size: 14px;
}

.tabs-side-2 .ui-tabs-panel {
	float: left;
	width: 60%;
	margin: 0 4%;
	border-bottom: 1px solid #e4e4e4;
}

/*====LATEST BLOG POSTS
=======================================================*/

.latest-blog-posts {
	margin-bottom: 20px;
}

.latest-blog-posts li {
	padding: 8px 0;
}

#sidebar .latest-blog-posts li {
	padding: 7px 0;
}

.latest-blog-posts li:first-child {
	padding-top: 0;
}

.latest-blog-posts li:last-child, #sidebar .latest-blog-posts li:last-child {
	padding-bottom: 0;
}

.latest-blog-posts li img {
	padding: 5px;	
	float: left;
	margin-right: 10px;
	border: 1px solid #dedede;
	max-width: 70px;
	max-height: 70px;
}

.post-date {
	font-size: 10px;
	font-style: italic;
	color: #969696;
}

#sidebar .latest-blog-posts li img {
	border: 1px solid #dedede;
}

footer .latest-blog-posts li h5 a {
	color: #ccc;
}

footer .latest-blog-posts li a:hover {
	color: #fff;
}

.latest-blog-posts li h5 {
	margin-bottom: 0px;	
	padding-top: 4px;
	line-height: 14px;
	font-weight: normal;
}

.latest-blog-posts li p {
	padding-bottom: 0;
	font-size: 11px;
	line-height: 16px;
}

.latest-blog-posts li a {
	color: #373737;
}

.latest-blog-posts li a:hover {
	text-decoration: none;
	color: #ad3271;
}

#sidebar .latest-blog-posts li a:hover {
	color: #323232;
}

.blog-icon {
	background: #ad3271;
	color: #fff;
	display: inline-block;
	float: left;
	height: 43px;
	width: 43px;
	line-height: 43px;
	margin-right: 10px;
	position: relative;
	text-align: center;
}

.blog-icon i {
	font-size: 21px;	
	line-height: 43px;
}

/*====PAGE TITLE
=======================================================*/

/*--------------PAGE TITLE STYLE 1--------------*/

.page-title {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e4e4e4;
}

.page-title .page-title-inner {
	padding-bottom: 0;
}

.page-title h1 {
	font-size: 48px;
	font-weight: 800;
	text-transform: uppercase;
	color: #373737;
	margin-top: 14px;
	margin-bottom: 0;
}

.page-title .one-line {
	margin-top: 34px;
}

.page-title-icon {
	float: left;
	background: #ad3271;
	color: #fff;
	font-size: 42px;
	margin-right: 20px;
	height: 110px;
	width: 110px;
	line-height: 110px;
	text-align: center;
}

.breadcrumbs {
	font-size: 11px;
	text-transform: uppercase;
	display: inline-block;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: 5px;
}

/*--------------PAGE TITLE STYLE 2--------------*/

.page-title-4 {		
	margin-bottom: 30px;
	border-bottom: 1px solid #e4e4e4;
}

.page-title-inner {
	position: relative;
	padding: 30px 0;
}

.page-title-4 h1 {
	font-size: 26px;
	color: #fff;
	background: #ad3271;
	display: inline-block;
	padding: 5px 15px 5px 15px;
	margin-bottom: 3px;
	text-transform: uppercase;
	position: relative;
}

.angled h1 {
	padding-right: 5px;
}

.angled h1:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 50px solid #ad3271;
	border-right: 50px solid transparent;
	top: 0;
	right: -50px;
}

.title-caption span {
	display: inline-block;
	padding: 10px 15px;
	background: #373737;
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	position: relative;
}

.angled .title-caption span:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 40px solid #373737;
	border-right: 40px solid transparent;
	top: 0;
	right: -40px;
}

.breadcrumbs-2 span {
	margin-right: 5px;
}

.breadcrumbs-2 {
	font-size: 11px;
	text-transform: uppercase;	
	background: #fff;
	display: inline-block;
	padding: 12px 16px;
	position: absolute;
	right: 0;
	bottom: -1px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;	
}


/*--------------PAGE TITLE STYLE 3--------------*/

.page-title .breadcrumbs-2, .page-title-2 .breadcrumbs-2 {
	bottom: -31px;
}

.page-title-2 {
	margin-bottom: 30px;
	border-bottom: 1px solid #e4e4e4;
}

.page-title-2 h1 {
	font-size: 30px;
	font-weight: 300;
	color: #ad3271;
	margin-bottom: 0;
}

.page-subtitle {
	font-size: 14px;
	margin-top: -4px;
	display: block;
	color: #aaa;
}

.page-title-2 .breadcrumbs {
	margin-top: -10px;
}

/*--------------PAGE TITLE STYLE 4--------------*/

.page-title-3 {
	padding-bottom: 30px;
	padding-top: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #e4e4e4;	
}

.page-title-3 h1 {
	font-size: 48px;
	font-weight: 800;
	text-transform: uppercase;
	color: #fff;
	margin-top: 14px;
	margin-bottom: 0;
	text-shadow: 2px 2px 0 #121212;
}

.page-title-3 .page-title-icon {
	box-shadow: 4px 4px 0px #121212;
}

.page-title-3 .breadcrumbs-2 {
	bottom: -31px;
}


/*====SIDEBAR
=======================================================*/

.sidebar {
	width: 272px;
}

.sb-left {
	float: left;	
}

.sb-right {
	float: right;
}

.sidebar-box {
	margin-bottom: 40px;
}

.boxed, .circled {
	margin-right: 10px;
	width: 28px;
	height: 28px;
	text-align: center;
	line-height: 28px;	
	font-size: 14px;
}

.boxed {
	background: #ad3271;	
	color: #fff;
}

.circled {	
	color: #ad3271;
	border: 1px solid;
	border-radius: 50%;
}

.sidebar h3 {
	margin-bottom: 20px;
	font-size: 15px;
	text-transform: none;
}

.sidebar-menu {
	list-style: none;
	margin-bottom: 30px;
}

.sidebar-menu li {
	position: relative;
	z-index: 10;
	margin-top: 8px;	
	padding-bottom: 8px;
	border-bottom: 1px solid #e4e4e4;	
}

.sidebar-menu li i {
	color: #373737;
	margin-right: 10px;
	-webkit-transition: all .1s linear;
	-moz-transition:	all .1s linear;
	-o-transition: 		all .1s linear;
	-ms-transition: 	all .1s linear;
	transition: 		all .1s linear;	
}

.sidebar-menu li:hover i {
	margin-right: 15px;
}

.sidebar-menu li a {
	color: #757575;
}

.sidebar-menu li a:hover {
	color: #ad3271;
	text-decoration: none;
}


/*====SIDEBAR SEARCH BOX 
=======================================================*/

#search-box {
	width: 206px;
	float: left;
	height: 39px;
	padding: 0 8px;
	color: #888;
	background-color: #f4f4f4;
	border-bottom: 1px solid #dedede;
	border-top: none;
	border-right: none;
	border-left: none;
	font-family: inherit;
	font-size: inherit;	
}

#search-button {
	background-color: #ad3271;
	width: 50px;
	height: 40px;
	border: none;
	cursor: pointer;
	color: #f7f7f7;
	font-size: 16px;
	line-height: 40px;	
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

#search-button:hover {
	background-color: #323232;
}

/*====VIDEO
=======================================================*/

.video {
	margin-bottom: 20px;
}

.video-title {
	margin-top: -6px;
}

.video-title h5 {
	color: #fff;
	background: #ad3271;
	font-size: 15px;
	font-weight: 300;
	line-height: 44px;
}

.video-title h5 i {
	font-size: 17px;
	margin-right: 10px;
	height: 48px;
	width: 48px;
	line-height: 48px;
	text-align: center;
	background: #373737;
}

.five-sixth .video iframe 		{ max-width: 836px; max-height: 470px; }
.three-fourth .video iframe 	{ max-width: 750px; max-height: 422px; }
.two-third .video iframe 		{ max-width: 664px; max-height: 374px; }
.one-half .video iframe 		{ max-width: 492px; max-height: 277px; }
.one-third .video iframe 		{ max-width: 320px; max-height: 170px; }
.one-fourth .video iframe		{ max-width: 234px; max-height: 132px; }
.one-sixth .video iframe		{ max-width: 148px; max-height: 83px;  }

.five-sixth .ratio43 iframe 	{ max-width: 836px; max-height: 627px; }
.three-fourth .ratio43 iframe 	{ max-width: 750px; max-height: 563px; }
.two-third .ratio43 iframe 		{ max-width: 664px; max-height: 498px; }
.one-half .ratio43 iframe 		{ max-width: 492px; max-height: 369px; }
.one-third .ratio43  iframe 	{ max-width: 320px; max-height: 240px; }
.one-fourth .ratio43 iframe		{ max-width: 234px; max-height: 176px; }
.one-sixth .ratio43 iframe		{ max-width: 148px; max-height: 11px;  }

/*====TEAM MEMBER - TESTIMONY - POST AUTHOR - CONTENT BOX
=======================================================*/

.team-section {
	/*margin-bottom: 10px;*/
}

.team-member {
	margin-top: 6px;
}

.boxshadow .portrait, 		
.boxshadow .content-box-icon {		
	border-radius: 50%;			
	-moz-box-shadow: 0 0 0 5px #fff, 0 0 1px 5px #888, 0 0 0 12px #fff;
	-webkit-box-shadow: 0 0  0 5px #fff, 0 0 1px 5px #888, 0 0 0 12px #fff;
	box-shadow: 0 0 0 5px #fff, 0 0 1px 5px #888, 0 0 0 12px #fff;
}

.testimony-inner:hover .portrait,
.post-author:hover .portrait {
	left: -75px;
}

.testimony {
	margin-bottom: 20px;
}

.testimony-inner,
.post-author-inner {
	position: relative;	
	padding: 15px 15px 15px 75px;
	margin-left: 54px;
	border: 1px solid #f0f0f0;		
}

.post-author p {
	padding-bottom: 10px;
}

.post-author {
	background: url(../../img/box-images/cog-br.png) no-repeat bottom right;	
	margin-bottom: 40px;
}

.testimony-inner {
	background: url(../../img/quotes.png) no-repeat bottom right;	
}

.testimony .portrait,
.post-author .portrait {
	position: absolute;
	top: 50%;
	left: -54px;
	margin-top: -54px;
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;
}

.team-member .portrait {
	float: left;
	margin-right: 25px;
}

.member-details h4, 
.testimony-author h4,
.post-author h4 {
	text-transform: uppercase;
	color: #373737;	
}

.box-title h3 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700; 
	color: #373737;	
}

.member-details h4, 
.testimony-author h4,
.box-title h3 {
	margin-bottom: 0;
}


.member-details h4, 
.box-title h3 {  
	margin-top: 15px;  
}

.member-details, 
.box-title {
	float: left;
}

.role, 
.testimony-author span,
.content-box-subtitle {
	font-size: 10px;
	color: #ad3271;
	text-transform: uppercase;
	margin-top: -3px;
	display: block;
	margin-bottom: 5px;
}

.testimony-text {
	float: left;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ad3271;
	
}

.team-member p {
	clear: both;
	padding-top: 25px;
}

.content-box, 
.team-member-type-2 {
	border: 1px solid #e4e4e4;
	padding: 60px 20px 20px 20px;
	margin-top: 60px;
	position: relative;
	margin-bottom: 20px;
	text-align: center;	
}

.content-box-icon {
	width: 110px;
	height: 110px;
	line-height: 110px;
	color: #373737;
	text-align: center;
	font-size: 48px;
	background: #f4f4f4;
	
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;
	
}

.content-box:hover .content-box-icon {
	color: #fff;
	background: #ad3271;
}

.cog-tl {background: url(../../img/box-images/cog-tl.png) no-repeat top left;}
.cog-tr {background: url(../../img/box-images/cog-tr.png) no-repeat top right;}
.cog-bl {background: url(../../img/box-images/cog-bl.png) no-repeat bottom left;}
.cog-br {background: url(../../img/box-images/cog-br.png) no-repeat bottom right;}

.content-box-icon,
.team-member-type-2 .portrait {
	position: absolute;
	top: -60px;
	left: 50%;
	margin-left: -60px;
}

.content-box .box-title,
.team-member-type-2 .member-details {
	float: none;
	text-align: center;
	margin-bottom: 10px;
}

.content-box p,
.team-member-type-2 p {
	text-align: center;
	margin-bottom: 30px;
	border-bottom: 1px solid #ad3271;
}

.team-member-type-2 .button {
	margin-top: 25px;
}

/*====SOCIAL LINKS
=======================================================*/

.social-links-circle-2,
.social-links-circle li {	
	cursor: pointer;
}

.social-links-circle-2 li,
.social-links-circle li {	
	display: inline;
}
.social-links-circle-2 li a,
.social-links-circle li a {	
	display: inline-block;
	text-align: center;
	color: #bbb;
	border: 1px solid #bbb;
	border-radius: 50%;
	margin-right: 1px;
	margin-bottom: 5px;
	-webkit-transition: all .2s linear;
	-moz-transition: 	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition:		all .2s linear;
	transition: 		all .2s linear;
}

.social-links-circle-2 li a:hover,
.social-links-circle li a:hover {
	color: #fff;
	background: #ad3271;
	border-color: #ad3271;
}

.social-links-circle li a {
	height: 28px;
	width: 28px;
	line-height: 28px;
	font-size: 16px;
}

.social-links-circle-2 li a {
	height: 34px;
	width: 34px;
	line-height: 34px;
	font-size: 16px;
}

footer .social-links-circle-2 li a,
footer .social-links-circle li a {
	color: #888;
	border-color: #888;
}

.social-links-round, 
.social-links-square,
.social-links-square-2, 
.social-links-round-2 {
	margin-bottom: 18px;
}

.social-links-round li, 
.social-links-square li,
.social-links-square-2 li, 
.social-links-round-2 li {
	display: block;
	float: left;
	text-align: center;	
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
}

.social-links-round li, 
.social-links-square li,
.social-links-square-2 li, 
.social-links-round-2 li {
	color: #fff;
	background: #ad3271;
}

.social-links-round li, 
.social-links-round-2 li {
	border-radius: 50%;
} 

.social-links-round li:hover,
.social-links-square li:hover,
.social-links-square-2 li:hover, 
.social-links-round-2 li:hover {
	background-color: #373737;
}

.social-links-round li a, 
.social-links-square li a {
	height: 28px;
	width: 28px;
	display: block;
	line-height: 28px;
	font-size: 16px
}

.social-links-round li a, 
.social-links-square li a {
	color: #fff;
}

.social-links-round-2 li a,
.social-links-square-2 li a {
	height: 34px;
	width: 34px;
	display: block;
	line-height: 34px;
	color: #fff;
	font-size: 16px;
}

.social-links-square li,
.social-links-square-2 li {
	margin-right: 2px;
	margin-bottom: 2px;
}

.social-links-round li,
.social-links-round-2 li {
	margin-right: 6px;
	margin-bottom: 6px;
}


/*====BLOG
=======================================================*/

.blog-post, .blog-post-full {
	margin-bottom: 20px;
}

.post-img {
	margin-bottom: 15px;
}

.post-img img {
	border: 1px solid #d7d7d7;
	padding: 6px;
	display: block;
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

 .post-video {
	border: 1px solid #d7d7d7;
	padding: 6px 6px 0 6px;
	display: block;
	margin-bottom: 15px;
}

.post-excerpt .post-title h3 {
	font-size: 16px;
	line-height: 26px;
	text-transform: none;
	margin-bottom: 3px;
}

.post-excerpt .post-title {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}

.post-title h1, .post-title h3 {
	font-size: 22px;
	line-height: 28px;
	font-weight: 300;
	text-transform: none;
	margin-bottom: 3px;
}

.post-title h3 a, .post-title h1 a {
	color: #373737;
}

.post-title h3 a:hover, .post-title h1 a:hover {
	color: #ad3271;
}

.post-title {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.meta {
	float: left;
	width: 48px;
	position: relative;
}

.date {
	background: #2f2f2f;
	color: #f7f7f7;
	text-align: center;
	padding: 6px 5px 3px 5px;
	margin-bottom: 2px;
}

.date span {
	display: block;
}

.date .day {
	font-size: 18px;
	margin-top: 3px;
	font-weight: 700;
}

.date .month {
	font-size: 10px;
	text-transform: uppercase;
	
}

.tags i {
	margin-right: 8px;
	color: #bbb;
}

.tags a {
	font-size: 11px;
}

.tags span {
	display: inline-block;
	margin-right: 10px;
}

.post-content {
	float: left;
	margin-left: 20px;
	width: 596px;
}
.post-intro {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	text-transform: none;
}

/*====BLOG - STYLE 2
=======================================================*/

.blog-style-2 .post-img,
.blog-style-2 .post-video,
.blog-style-2 .image-gallery {
	margin-left: 14px;
	float: left;	
}

.blog-style-2 .post-img img{
	max-width: 234px;
	height: auto;
}

.blog-style-2 .post-video iframe {
	max-width: 234px;
	max-height: 200px;
}

.blog-style-2 .post-content {
	float: left;
	margin-left: 20px;
	width: 334px;
}

.blog-style-2 .image-gallery {
	max-width: 234px;
}


/*====BLOG - FULL
=======================================================*/
 
.blog-post-full .post-content {
	width: 940px;
}

.blog-post-full .post-img img {
	/*max-width: none;*/
}

/*====BLOG SHARE NETWORK
=======================================================*/

.share-post {
	position: absolute;
	top: 102px;
	z-index: 10;	
	width: 48px;
	margin-top: 2px;
}

.share-btn {
	color: #f7f7f7;
	font-size: 10px;	
	display: block;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: background-color .2s linear;
	-moz-transition:	background-color .2s linear;
	-o-transition: 		background-color .2s linear;
	-ms-transition:		background-color .2s linear;
	transition: 		background-color .2s linear;
}

.closed:hover {
	background: #ad3271;
	color: #f7f7f7;
}

.closed {
	background: #373737;
}

.opened {
	background: #ad3271;
}

.opened:hover {
	background: #373737;
	color: #f7f7f7;
}

.share-networks {
	z-index: 10;
}

.share-networks li {
	display: block;
	font-size: 19px;
	text-align: center;
	-webkit-transition: background-color .2s linear;
	-moz-transition:	background-color .2s linear;
	-o-transition: 		background-color .2s linear;
	-ms-transition:		background-color .2s linear;
	transition: 		background-color .2s linear;
}

.share-networks li:hover {
	background-color: #373737;
}

.share-networks li a i {
	color: #fff;
}

.share {
	display: block;
	width: 48px;
	height: 48px;
	background-color: #ad3271;	
	font-size: 19px;
	text-align: center;
	
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;
}

.share i {
	line-height: 48px;
	color: #fff;
}

.share:hover {
	cursor: pointer;
	background-color: #373737 !important;
}

/****************************************************
*													*
*	BLOG TYPES										*
*													*
*****************************************************/

	
.blog-type {
	width: 48px;
	height: 48px;
	background-color: #ad3271;
	text-align: center;
	color: #fff;
}

.blog-type i {
	line-height: 48px;
	font-size: 21px;
	line-height: 48px;
}

.image-gallery {
	position: relative;
	border: 1px solid #d7d7d7;
	padding: 6px 6px 6px 6px;
	display: block;
	/*margin-bottom: 14px;*/
	margin-bottom: 20px;
}

.image-gallery .post-img {
	margin-bottom: 0;
}

.image-gallery .flex-direction-nav,
.content-slider .flex-direction-nav {
	height: 0;
	margin: 0;
}

.image-gallery .flex-prev,
.content-slider .flex-prev {
	position: absolute;
	top: 50%;
	margin-left: 0;
}

.image-gallery .flex-next, 
.content-slider .flex-next {
	position: absolute;
	top: 50%;	
	margin-left: 0;
}

.image-gallery .flex-prev, .image-gallery .flex-next,
.content-slider .flex-prev, .content-slider .flex-next {	
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
}

/* Image Gallery Nav */

.image-gallery .flex-prev {	
	left: 25px;
	margin-top: -21px;
}

.image-gallery .flex-next {
	right: 25px;
	margin-top: -21px;
}

.image-gallery .flex-prev, 
.image-gallery .flex-next {	
	width: 36px;
	height: 36px;		
	line-height: 36px;
	color: #fff;
}

.gallery-title {
	position: absolute;
	padding: 20px;	
	top: 5%;
	border-left: 2px solid #fff;
	left: 30px
}

.gallery-title h2 {
	color: #fff;
	margin-bottom:0;
	font-size: 44px;
	line-height: 40px;
	font-weight: 800;
	text-shadow: 1px 1px 1px #323232;
}

.gallery-title .button {
	margin-bottom: 0;
}

.gallery-description {
	background: #fff;
	font-weight: 300;
	font-size: 15px;
	line-height: 24px;
	position: absolute;	
	bottom: 0;
	right: 0;
	padding: 20px;
	display: inline-block;
	max-width: 40%;
}

/* Content Slider Nav */

.content-slider .flex-direction-nav {
	opacity: 0;
}

.content-slider .flex-prev, 
.content-slider .flex-next {
	width: 48px;
	height: 48px;		
	line-height: 48px;
	color: #bbb;
}

.content-slider .flex-prev {
	left: -90px;
	margin-top: -27px;
}

.content-slider .flex-next {
	right: -90px;
	margin-top: -27px;
}

.content-slider .flex-prev:hover,
.content-slider .flex-next:hover {
	color: #fff;
}

.gallery-item {
	float: left;
}

.gallery-item img {
	float: left;
	box-shadow: #000 0em 0em 0em; /*fix for firefox width jog on images with opacity */
	max-width: 100%;
}


/*====BLOG COMMENTS
=======================================================*/

.comments-section {
	margin-bottom: 10px;
}

.comment {
	margin-bottom: 30px;
}

.comment-text {
	margin-left: 110px;
	background: #f4f4f4;
	position: relative;
	padding: 15px 15px 0 15px;
	border-bottom: 1px solid #ddd;
}

.comments-section h3 {
	font-size: 20px;
	color: #373737;
	font-weight: 700;
	margin-bottom: 30px;
}

.comment-reply {
	margin-left: 60px;
}

.avatar {
	float: left;
	margin-right: 20px;
}

.comment-date {
	margin-bottom: 10px;
	margin-top: -3px;
	display: block;
	font-size: 11px;
}

.comment-author {
	color: #ad3271;
	text-transform: uppercase;
	font-size: 11px;
	font-style: normal;
}

.reply {
	position: absolute;
	top: 15px;
	right: 15px;
}

/*====PAGINATION
=======================================================*/

.blog-pagination,
.portfolio-pagination {
	list-style: none;
}

.portfolio-pagination {
	padding: 0 0 40px 0;
	margin-top: -4px;
}

.main-content-left .blog-pagination,
.main-content-right .blog-pagination {
	padding: 0 0 10px 0;
	margin-top: -5px;
}

.blog-pagination {
	padding: 0 0 40px 0;
	margin-top: -5px;
}

.blog-pagination li,
.portfolio-pagination li {
	display: inline;
	margin-right: 2px;
}

.blog-pagination li a,
.portfolio-pagination li a {
	padding: 3px 10px;
	font-size: 11px;
	color: #f7f7f7;
	background: #373737;
	display: inline-block;	
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	transition: background-color .2s linear;	
}

.blog-pagination li a:hover,
.portfolio-pagination li a:hover {
	background: #ad3271;
	text-decoration: none;
}

.blog-pagination li a.active-page,
.portfolio-pagination li a.active-page {
	background: #ad3271;
}

.portfolio-items {
	list-style: none;
}

.portfolio-items .one-third,
.portfolio-items .one-fourth,
.portfolio-items .one-half {
	margin-bottom: 0;
}

.portfolio-items li {
	display: block;
}

/*====PORTFOLIO ISOTOPE STYLING
=======================================================*/

.filter-container {
	margin-bottom: 30px;
	padding-bottom: 8px;
	padding-top: 8px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
}

.isotope {
	position:relatve;
	overflow:hidden;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
/*
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}*/

.filter-container span {
	display: inline;
	float: left;
	margin-right: 15px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 10px;
}

.filters {
	font-size: 12px;
	margin-left: 0;	
}

.filters li {
	line-height: 16px;
	margin-right: 20px;
	display: inline;
}

.filters .current {
	color: #ad3271;
}

.filters li a {
	font-size: 10px;
	color: #999;
	
	text-transform: uppercase;
	-webkit-transition: background-color .2s linear;
	-moz-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

.filters li a:hover {
	color: #ad3271;
	text-decoration: none;
}


/*====PORTFOLIO SINGLE
=======================================================*/

.project-skills {
	margin-left: 20px;
	margin-bottom: 16px;
}

.project-skills li {
	display: inline-block;
	margin-right: 30px;
	margin-bottom: 4px;
}

.project-skills li i {
	border-radius: 50%;
	background: #ad3271;
	color: #fff;
	width: 14px;
	height: 14px;
	line-height: 14px;
	font-size: 9px;
	margin-top: 3px;
}


/*====CONTACT
=======================================================*/

#google-map {
	margin-top: -30px;
	margin-bottom: 30px;
	border-top: 1px solid #fff;
}

#google-map iframe {
	width: 100%;
}

.contact-info {
	margin-bottom: 20px;
}

.contact-info h2 {
	font-size: 20px;
	color: #373737;
	font-weight: 700;
}

.contact-info h3 {
	font-size: 16px;
	color: #ad3271;
	text-transform: none;
}

.contact-info strong {
	padding-right: 5px;
}

.header-top .contact-info {
	margin: 10px 0;
}

.contact-info ul li, .contact-info ul li a {
	display: inline-block;
	margin-right: 40px;
	color: #999;
	margin-left: 0;
}

.contact-info ul li i {	
	color: #999;
	font-size: 15px;
	line-height: 18px;
}

footer .contact-info strong {
	color: #fff;
	font-weight: 700;
}

footer .contact-info {
	background: url(../../img/world.png) no-repeat center center;
}	

#contact-form {			
	width: 450px;
	margin-top: 15px;
}
				
.textbox {
	color: #757575;
	width: 316px;
	margin-bottom: 15px;
	padding: 10px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #dedede;
	font-family: inherit;
	font-size: inherit;
	border-top: none;
	border-right: none;
	border-left: none;
}

.textbox:focus, #check:focus {
	border-bottom: 1px solid #ad3271;
}

#contact-form label,
#comment-form label {
	padding-top: 6px;
	float: left;
	width: 111px;
	overflow:hidden;
}

#check {
	width: 60px;
	color: #757575;
	margin-bottom: 15px;
	padding: 10px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #dedede;
	font-family: inherit;
	font-size: inherit;
	border-top: none;
	border-right: none;
	border-left: none;
}

#message, #comment-message {
	height: 135px;
	width: 316px;
	margin-top: 2px;
	margin-bottom: 8px;
}

#submit, #post-comment {	
	margin-left: 111px;
	margin-bottom: 15px;
	float: left;
	cursor: pointer;	
	padding: 10px 15px;
	border: none;
}

#submit:hover, #post-comment:hover {
	background: #2f2f2f;
}

#message-outcome {
	clear: both;
	margin-left: 111px;
	padding: 15px;
	background: #f1d76e;
	color: #746417;
	display: none;	
	border: 1px dashed #bbb63b;
}

#comment-form .textbox {
	width: 533px;
}

#comment-form {
	width: 664px;
}

/*====INFO BOXES
=======================================================*/

.info-box {
	padding: 20px 20px 0 20px;
	margin-bottom: 20px;
	position: relative;
}

.info-close {
	font-size: 10px;
	text-transform: uppercase;
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
	height: 19px;
	width: 19px;
	line-height: 20px;
}

.info-box h4 {
	font-size: 16px;
	margin-bottom: 10px;
}

.yellow-info {
	background: #fff6bf;
	color: #62523a;
	border: 1px solid #e0d594;
}

.yellow-info .info-close {
	color: #62523a;
	border: 1px solid #e0d594;
}

.yellow-info h4 {
	color: #62523a;
}

.green-info {
	background: #bbdd8c;
	color: #404e2e;
	border: 1px solid #a0c272;
}

.green-info .info-close {
	color: #404e2e;
	border: 1px solid #a0c272;
}

.green-info h4 {
	color: #404e2e;
}

.red-info {
	background: #f1d5d6;
	color: #5f393a;
	border: 1px solid #f2b1b4;
}

.red-info .info-close {
	color: #5f393a;
	border: 1px solid #f2b1b4;
}

.red-info h4 {
	color: #5f393a;
}

.blue-info {
	background: #c2e1ee;
	color: #4c6671;
	border: 1px solid #9fc6d7;
}

.blue-info .info-close {
	color: #4c6671;
	border: 1px solid #9fc6d7;
}

.blue-info h4 {
	color: #4c6671;
}

/*====PRICING TABLES
=======================================================*/

.plan-type h3 {	
	text-align: center;	
	color: #fff;
	margin-bottom: 0;
	text-transform: none;
}

.plan-type h3 { 
	line-height: 28px;
}

.plan-type {	
	padding: 14px 0;
}

.plan-pricing {
	font-weight: 700;
	text-align: center;	
	color: #373737;
	margin-bottom: 0;
	text-transform: none;
	font-size: 34px; 
	line-height: 40px;
	padding: 15px 0;	
}

.plan-pricing span {
	display: block;
	margin-top: -10px;
	font-size: 16px;
	font-weight: normal;
}

.plan-features ul li {
	display: block;
	background: #f8f8f8;
	border-top: 1px solid #e4e4e4;
	text-align: center;
	padding: 14px 0;
	text-transform: uppercase;
	font-size: 13px;
}

.plan-features ul li:nth-child(even) {
	background: #f1f1f1;
}


/*====PRICING TABLES - PLAN TYPES
=======================================================*/


.premium-plan .plan-type {	
	background: #ad3271;  
	border: 1px solid #ad3271;
}

.premium-plan-big {
	margin-top: -10px;
	margin-bottom: 41px;
}
.premium-plan-big .plan-type {	
	background: #ad3271;  
	border: 1px solid #ad3271;
}

.premium-plan-big .plan-pricing {
	padding: 26px 0;
}

.standard-plan .plan-type {  
	background: #373737;
	border: 1px solid #373737;
 }


/*====PRICING TABLES-2
=======================================================*/

.plan-type-2 {
	text-align: center;	
	color: #373737;
	margin-bottom: 0;	
	padding-top: 20px;
}

 .plan-pricing-2 {		
	text-align: center;	
	color: #373737;
	margin-bottom: 0;
	text-transform: none;
}

.plan-type-2 h3 {
	text-transform: none;
	line-height: 22px;
	margin-bottom: 0;
}

.plan-type-2 i {
	color: #fff;
	background: #373737;
	width: 80px;
	height: 80px;
	line-height: 80px;
	font-size: 48px;
	text-align: center;
	margin: 20px 0;
	-webkit-transition: all .1s linear;
	-moz-transition:	all .1s linear;
	-o-transition: 		all .1s linear;
	-ms-transition: 	all .1s linear;
	transition: 		all .1s linear;	
}

.table:hover .plan-type-2 i {
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

.premium-plan-2 .plan-type-2 i,
.premium-plan-big-2 .plan-type-2 i {
	color: #fff;
	background: #ad3271;	
	font-size: 48px;
	text-align: center;
	margin: 20px 0;
}

.premium-plan-big-2 .plan-type-2 i {
	width: 100px;
	height: 100px;
	line-height: 100px;
}

.price {
	font-size: 36px; 
	line-height: 40px;	
	font-weight: 300;
	display: block;
}

.period {
	font-size: 16px;
	font-weight: normal;
	display: block;
	margin-bottom: 30px;	
}

.standard-plan-2 .price {
	font-size: 30px;
}

.premium-plan-2 .price,
.premium-plan-big-2 .price
 {
	color: #ad3271;
}

.plan-features-2 ul li {
	display: block;
	border-top: 1px solid #e4e4e4;
	text-align: center;
	padding: 14px 0;
	text-transform: uppercase;
	font-size: 13px;
}

/*====PRICING TABLES - PLAN TYPES
=======================================================*/

.premium-plan-big-2 {
	margin-top: -10px;
	margin-bottom: 41px;
}

.order-btn, .order-btn-primary {
	border-top: 1px solid #e4e4e4;
}

.order-btn, .order-btn-primary {
	padding: 22px 0 !important;
	text-align: center;
}

.order-btn .button {
	margin-bottom: 0;
	background-color: #999;
}

.order-btn .button:hover {
	background-color: #373737;
}

.order-btn-primary .button {
	background: #ad3271;
	margin-bottom: 0;
}

.order-btn-primary .button:hover {
	background: #121212;
}

.table {
	border: 1px solid #e4e4e4;
	margin-bottom: 30px;
}

.pricing-tables .one-third 		{ width: 318px; }
.pricing-tables .two-third 		{ width: 662px; }
.pricing-tables .one-fourth 	{ width: 232px; }
.pricing-tables .three-fourth 	{ width: 748px; }
.pricing-tables .one-half 		{ width: 490px; }
.pricing-tables .one-sixth 		{ width: 146px; }
.pricing-tables .five-sixth 	{ width: 834px; }


/*====404 PAGE
=======================================================*/

.error-message {
	text-align: center;
	padding: 15px 0 55px 0;
}

.error-message h2 {
	font-size: 180px;
	line-height: 180px;
}

.error-message h3 {
	font-size: 28px;
	line-height: 34px;
	font-weight: 300;
	text-transform: none;
	margin-bottom: 20px;
}

.error-message p {
	font-size: 15px;
	padding-bottom: 30px;
}

.counter {
	text-align: center;
	color: #373737;
	margin-bottom: 20px;
}

.counter:hover .timer {
	border-color: #ad3271;
}

.counter:hover .count-type {
	color: #ad3271;
}

.timer {
	display: block;
	font-size: 40px;
	font-weight: 800;
	margin-bottom: 15px;
	border-bottom: 1px solid #e4e4e4;
	line-height: 40px;
	padding-bottom: 15px;

	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
}

.count-type {
	font-size: 14px;
	color: #bbb;
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
}

.counter i {
	font-size: 40px;
	width: 70px;
	height: 70px;
	line-height: 70px;
	padding: 10px;
	text-align: center;
	border: 3px solid;
	border-radius: 50%;
}

.color-section .counter, 
.dark-section .counter,
.color-section .count-type,
.dark-section .count-type {
	color: #fff;
}

.color-section .timer {
	border-color: #fff;
}

.dark-section .timer {
	border-color: #fff;
}

.color-section .counter:hover .timer {
	border-color: #fff;
}

.color-section .counter:hover .count-type {
	color: #fff;
}

.dark-section .counter:hover .timer {
	border-color: #fff;
}

.dark-section .counter:hover .count-type {
	color: #fff;
}

.no-touch .animated, .no-touch .animated-start {opacity: 0;}
.no-touch .animated-hover {opacity: 1!important;}

/*====DEVELOPMENT PROCESS
=======================================================*/

.step-icon, .step-icon-last {
	width: 150px;
	height: 150px;
	line-height: 150px;		
	font-size: 48px;
	margin: 0 auto 30px auto;	
	border-radius: 50%;
	position: relative;

	-moz-box-shadow: 	0 0 0 5px #fff, 0 0 1px 5px #888;
	-webkit-box-shadow: 0 0  0 5px #fff, 0 0 1px 5px #888;
	box-shadow: 		0 0 0 5px #fff, 0 0 1px 5px #888;

	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
}

.step-icon {
	color: #373737;
	background: #f4f4f4;
}

.step-icon-last {
	background: #ad3271;
	color: #fff;
}

.step-icon:hover {
	background: #ad3271;
	color: #fff;
}

.step h4 {
	color: #373737;
	text-transform: uppercase;
}

.step span {
	font-size: 15px;
	display: block;
}

.step {
	text-align: center;	
	margin-top: 6px;
}

.color-1 {background: #ad3271;}
.color-2 {background: #ff8833;}
.color-3 {background: #00aff0;}
.color-4 {background: #99ad5d;}
.color-5 {background: #3bb001;}
.color-6 {background: #55537d;}

.pattern-1 { background-image: url(../../img/backgrounds/pattern-1.jpg); }
.pattern-2 { background-image: url(../../img/backgrounds/pattern-2.jpg); }
.pattern-3 { background-image: url(../../img/backgrounds/pattern-3.png); }
.pattern-4 { background-image: url(../../img/backgrounds/pattern-4.png); }
.pattern-5 { background-image: url(../../img/backgrounds/pattern-5.png); }
.pattern-6 { background-image: url(../../img/backgrounds/pattern-6.png); }
.pattern-7 { background-image: url(../../img/backgrounds/pattern-7.png); }
.pattern-8 { background-image: url(../../img/backgrounds/pattern-8.png); }
.pattern-9 { background-image: url(../../img/backgrounds/pattern-9.png); }
.pattern-10 { background-image: url(../../img/backgrounds/pattern-10.png); }
.pattern-11 { background-image: url(../../img/backgrounds/pattern-11.png); }
.pattern-12 { background-image: url(../../img/backgrounds/pattern-12.png); }
.pattern-13 { background-image: url(../../img/backgrounds/pattern-13.png); }
.pattern-14 { background-image: url(../../img/backgrounds/pattern-14.png); }
.pattern-15 { background-image: url(../../img/backgrounds/pattern-15.jpg); }
.pattern-16 { background-image: url(../../img/backgrounds/pattern-16.png); }

/*====HELPER CLASSES
=======================================================*/

.align-left {text-align: left;}
.align-right {text-align: right;}
.align-center {text-align: center;}

.fl-left {float: left;}
.fl-right {float: right;}

.top-0  { margin-top: 0; 	}
.top-5  { margin-top: 5px;  }
.top-10 { margin-top: 10px; }
.top-15 { margin-top: 15px; }
.top-20 { margin-top: 20px; }
.top-25 { margin-top: 25px; }
.top-30 { margin-top: 30px; }
.top-35 { margin-top: 35px; }
.top-40 { margin-top: 40px; }
.top-45	{ margin-top: 45px; }
.top-50	{ margin-top: 50px; }
.top-55	{ margin-top: 55px; }
.top-60	{ margin-top: 60px; }

.bottom-0  {  margin-bottom: 0;    }
.bottom-5  {  margin-bottom: 5px;  }
.bottom-10 {  margin-bottom: 10px; }
.bottom-15 {  margin-bottom: 15px; }
.bottom-20 {  margin-bottom: 20px; }
.bottom-25 {  margin-bottom: 25px; }
.bottom-30 {  margin-bottom: 30px; }
.bottom-35 {  margin-bottom: 35px; }
.bottom-40 {  margin-bottom: 40px; }
.bottom-45 {  margin-bottom: 45px; }
.bottom-50 {  margin-bottom: 50px; }
.bottom-55 {  margin-bottom: 55px; }
.bottom-60 {  margin-bottom: 60px; }

.negative-top-5  { margin-top: -5px;  }
.negative-top-10 { margin-top: -10px; }
.negative-top-15 { margin-top: -15px; }
.negative-top-20 { margin-top: -20px; }
.negative-top-25 { margin-top: -25px; }
.negative-top-30 { margin-top: -30px; }
.negative-top-35 { margin-top: -35px; }
.negative-top-40 { margin-top: -40px; }
.negative-top-45 { margin-top: -45px; }
.negative-top-50 { margin-top: -50px; }
.negative-top-55 { margin-top: -55px; }
.negative-top-60 { margin-top: -60px; }

.negative-bottom-5  {  margin-bottom: -5px;  }
.negative-bottom-10 {  margin-bottom: -10px; }
.negative-bottom-15 {  margin-bottom: -15px; }
.negative-bottom-20 {  margin-bottom: -20px; }
.negative-bottom-25 {  margin-bottom: -25px; }
.negative-bottom-30 {  margin-bottom: -30px; }
.negative-bottom-35 {  margin-bottom: -35px; }
.negative-bottom-40 {  margin-bottom: -40px; }
.negative-bottom-45 {  margin-bottom: -45px; }
.negative-bottom-50 {  margin-bottom: -50px; }
.negative-bottom-55 {  margin-bottom: -55px; }
.negative-bottom-60 {  margin-bottom: -60px; }


/*====SHOP
=======================================================*/

/*====CATALOGUE PAGE
================================================*/

.ordering {
	float: left;
	margin-right: 15px;
}

.order {
	color: #ccc;
	font-size: 21px;
	line-height: 21px;
}

.order i {
	padding-top: 10px;
}

.shop-options {
	margin-bottom: 20px;
}

/*  PRODUCT  */

.product {
	border: 1px solid #e4e4e4;
	margin-bottom: 20px;
	position: relative;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.image-holder {
	position: relative;
}

.image-holder img:first-child {
	z-index: 5;
	position: absolute;	
	top: 0;
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
}

.image-holder img:first-child:hover {
	opacity: 0;
}

.product img {
	display: inline;
	vertical-align: middle;
}

.sale {
	border: 3px solid #ad3271;
}

.on-sale {
	position: absolute;
	top: -5px;
	right: 5px;
	background: #ad3271;
	display: block;
	color: #fff;
	padding: 8px;
	z-index: 10;
}

.product figcaption {
	padding: 20px 20px 0 20px;
	background: #f4f4f4;
}

.product-info {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #d5d5d5;
}

.product-name {
	font-size: 15px;
	line-height: 21px;
	text-transform: uppercase;
	color: #373737;
}

h1.product-name {
	font-size: 30px;
	line-height: 24px;
	text-transform: none;
	color: #373737;
	font-weight: 300;
	margin-bottom: 20px;
}

.ex-price {
	float: right;
	padding-right: 12px;
	font-size: 21px;
	font-weight: 300;
}

.product-price {
	font-size: 32px;
	font-weight: bold;
	color: #373737;
	float: right;
	display: block;
	margin-bottom: 10px;
}

.product-actions a {
	font-size: 11px;
}

.product-actions .button {
	margin-top: 5px;
	float: right;
}

.product-actions ul {
	float: left;
}

.product-buy span {
	position: absolute;
	color: #fff;
	background: #ad3271;
	font-size: 11px;
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	right: 80px;
	top: -5px;
}

.to-cart {
	float: right;
	display: block;
}

.to-cart:hover i {
	background: #373737;
}

.to-cart i {
	font-size: 22px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;	
	color: #fff;
	background: #ad3271;
	margin-bottom: 20px;
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
}

/*====SHOPPING CART SIDEBAR
================================================*/

.shopping-cart > li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-right: 18px;
	border-bottom: 1px solid #e4e4e4;	
	position: relative;
}

.shopping-cart li:hover .sb-product-image{
	border-color: #ad3271;
}

.shopping-cart li:hover .remove-item {
	opacity: 1;
}

.remove-item {
	color: #747474;
	padding: 0 6px;
	font-size: 10px;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transition: all .1s linear;
	-moz-transition:	all .1s linear;
	-o-transition: 		all .1s linear;
	-ms-transition: 	all .1s linear;
	transition: 		all .1s linear;	
}

.no-touch .remove-item {
	opacity: 0;
}

.remove-item:hover {
	background: #f4f4f4;
}

.sb-product-image {
	float: left;
	padding-right: 12px;
	margin-right: 12px;
	border-right: 1px solid #e4e4e4;
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;	
}

.cart-price {
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
}

.shopping-cart h5 {
	margin-bottom: 5px;
}

.shopping-cart h5 a {
	font-size: 13px;
	font-weight: 300;
}

.cart-details {	
	padding: 10px 0;
	font-size: 15px;
}

.cart-details p {
	padding: 0;
}

.cart-details span {
	color: #ad3271;
}

.cart-actions a {
	margin: 10px 10px 0 0;
}

.rating li, 
.rating-big li {
	display: block;
	float: left;
	color: #ffb800;
	margin-right: 3px;
}

.rating-big li {
	font-size: 18px;
}

/*====SINGLE PRODUCT PAGE
================================================*/

.price-big {
	display: block;
	float: left;
	font-size: 32px;
	margin-bottom: 20px;
	line-height: 32px;
	font-weight: 700;
	color: #373737;
	margin-right: 15px;
}

.stock {
	display: block;
	line-height: 32px;
	float: left;
	font-size: 14px;
	text-transform: uppercase;
}

.in-stock {
	color: #2cb800;
}

.out-of-stock {
	color: #e90000;
}

/*====QUANTITY
================================================*/

input.qtyminus,
input.qtyplus {
	border: none;
	cursor: pointer;
	height: 28px;
	width: 28px;
	font-size: 16px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;	
	box-sizing: border-box;	
	-webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}

.quantity {
	float: left;
	margin-right: 20px;
}

.qty {
	height: 40px ;
	width: 60px;
	text-align: center;
	font-family: 'Open Sans';
	border: 1px solid #e4e4e4;
	box-sizing:border-box;
}

/*====FLEXSLIDER PRODUCT
================================================*/

.image-gallery-thumbs {
	margin-bottom: 20px;
}

.flex-control-thumbs {
	margin-top: -14px;
	z-index: 200;	
}

.flex-control-thumbs li {
	list-style: none;
	margin-top: 6px;
	margin-right: 6px;
}

.flex-control-thumbs li {
	width: 20%;
	float: left;
	cursor: pointer;
	padding: 4px;
	border: 1px solid #e4e4e4;
	opacity: 0.7;
	-webkit-transition: all .2s linear;
	-moz-transition:	all .2s linear;
	-o-transition: 		all .2s linear;
	-ms-transition: 	all .2s linear;
	transition: 		all .2s linear;
}

.flex-control-thumbs li:hover  {
	border-color: #d4d4d4;
	opacity: 1;
}

.flex-control-thumbs li img {	
	display: block;	
}

.flex-control-thumbs li img {	
	outline: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/*====PRODUCT REVIEWS
================================================*/


.reviews .comment-text {
	margin-left: 0;
}

.reviews .rating li {
	display: inline;
	margin-right: 1px;
	float: none;
}

.reviews .rating {
	margin-bottom: 10px;
}

.review-rating,
.select {
	background: #fff;
	border: 1px solid #eee;
	cursor: pointer;	
	color: #676767;
	-moz-appearance: none;
    text-indent: 0.01px;
    margin-bottom: 15px;
}

.review-rating {
	padding: 10px 5px;
}

.select {
	padding: 10px 15px 10px 5px;
}

.reviews #comment-form .textbox {
	width: 350px;
	max-width: 100%;
	display: block;
}

#comment-form select {
	display: block;
}

/*====SHOPING CART
================================================*/

#shopping-cart * {
	box-sizing: border-box;
}

.remove-from-cart,
.table-cart-price,
.cart-quantity {
	text-align: center;
	vertical-align: middle;	
}

.cart-quantity {
	width: 10px;
}

.cart-quantity input {
	width: 40px;
}

.remove-from-cart {
	width: 10px;
}

.remove-from-cart a {
	color: #747474;
}

.remove-from-cart a:hover {
	color: #ad3271;
}

.cart-item {
	vertical-align: middle;	
}

.cart-item h3 {
	font-size: 13px;
	font-weight: normal;
	text-transform: none;
}

.cart-item img {
	max-width: 60px;
}

.table-cart-price {
	width: 10%;
}

.cart-total-row {
	border-top: 2px solid #ad3271;
}

.total-title {
	vertical-align: middle;
	font-size: 14px;
	color: #ad3271;
	text-transform: uppercase;
	font-weight: 700;
}

.cart-total,
.cart-subtotal {
	text-align: right;
	vertical-align: middle;
}

.cart-subtotal {
	width: 10%;
}

.cart-total {
	font-size: 24px;
	font-weight: 700;
	padding: 20px 8px;
	color: #373737;
}

.new-pages {
	position: absolute;
	color: red;
	right: 78px;
	bottom: 7px;
	font-size: 10px;
}
.navigation .active-trail {
    background-color: #373737;
    box-shadow: 0 3px 0  #ad3271;
    color: #F7F7F7 !important;
    text-shadow: none;
}